@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 100vw;
  overflow: hidden;
}

input[placeholder] {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

input::-moz-placeholder {
  text-overflow: ellipsis;
}

input:-moz-placeholder {
  text-overflow: ellipsis;
}

input:-ms-input-placeholder {
  text-overflow: ellipsis;
}

svg path {
  fill: inherit;
  stroke: inherit;
}

svg rect {
  fill: inherit;
  stroke: inherit;
}

.title {
  font-weight: 900;
  text-transform: uppercase;
  color: #395a71;
  font-size: calc(40px + 30 * ((100vw - 320px) / 1600));
  line-height: 121%;
}

.btn {
  border-radius: 50px;
  padding: 20px 35px;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
}

.header {
  width: 100%;
  height: 100px;
  overflow: hidden;
  background: url("../images/system_img/header/bg-header.jpg");
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  width: 100%;
  height: 100%;
}

@media (max-width: 1336px) {
  .header__wrapper {
    padding: 0 25px;
  }
}

@media (max-width: 400px) {
  .header__wrapper {
    padding: 0 5px;
  }
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 38px 0 0;
  cursor: pointer;
}

@media (max-width: 1336px) {
  .header__lang {
    margin: 0 20px 0 0;
  }
}

@media (max-width: 450px) {
  .header__lang {
    margin: 10px 0;
  }
}

.header__lang-logo {
  width: 30px;
  height: 30px;
  margin: 0 12px 0 0;
}

.header__lang-text {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 3px 0 0 0;
}

@media (max-width: 360px) {
  .header__logo {
    padding: 0 10px 0 0;
  }
}

.header__logo img {
  max-width: 100%;
}

@media (max-width: 1050px) {
  .menu {
    position: absolute;
    background: url("../../images/system_img/footer/bg.jpg");
    z-index: 4;
    top: 100px;
    left: 0;
    width: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
    opacity: 0;
  }
  .menu._active {
    width: 100%;
    padding: 10px;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1440px) {
  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1050px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.menu__item {
  padding: 0 25px;
  text-align: center;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 768px) {
  .menu__item:hover {
    background-color: #fff;
  }
  .menu__item:hover a {
    color: #395a71;
  }
}

@media (max-width: 1600px) {
  .menu__item {
    padding: 0 10px;
  }
}

@media (max-width: 1440px) {
  .menu__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    padding: 10px 0;
  }
}

@media (max-width: 1050px) {
  .menu__item {
    width: 100%;
    padding: 20px 0;
  }
}

.menu__item a {
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .search {
    margin: 10px 0;
  }
}

.search__input {
  background: #ffffff;
  border-radius: 20px;
  padding: 9px 20px 8px 20px;
  font-size: 19px;
  line-height: 23px;
  color: #000;
}

@media (max-width: 1336px) {
  .search__input {
    padding: 9px 5px 8px 20px;
  }
}

.search__input::-webkit-input-placeholder {
  font-size: 19px;
  line-height: 23px;
  color: #a2a2a2;
}

.search__input:-ms-input-placeholder {
  font-size: 19px;
  line-height: 23px;
  color: #a2a2a2;
}

.search__input::-ms-input-placeholder {
  font-size: 19px;
  line-height: 23px;
  color: #a2a2a2;
}

.search__input::placeholder {
  font-size: 19px;
  line-height: 23px;
  color: #a2a2a2;
}

.search__btn {
  margin: 0 0 0 35px;
  background: none;
}

@media (max-width: 1199px) {
  .search__btn {
    margin: 0 0 0 15px;
  }
}

.search__btn img {
  width: 31px;
  height: 31px;
}

.header__burger {
  display: none;
}

@media (max-width: 1050px) {
  body._lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header__burger:before {
    content: "";
    top: 0;
  }
  .header__burger:after {
    content: "";
    bottom: 0;
  }
  .header__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header__burger._active:before {
    content: "";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header__burger._active:after {
    content: "";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
}

.full {
  position: relative;
  height: calc(100vh - 100px);
  overflow: hidden;
  background: url("../images/system_img/bg-video.jpg") center/cover no-repeat;
}

.full__video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.full__video video {
  width: 100vw;
  height: auto;
}

@media (max-width: 1199px) {
  .full__video video {
    width: auto;
    height: 100vh;
  }
}

.full__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.full__title {
  margin: 35vh 0 15vh 0;
  font-weight: 900;
  font-size: calc(20px + 30 * ((100vw - 320px) / 1600));
  line-height: 121%;
  letter-spacing: 0.8em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
}

.full__btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
  color: #ffffff;
  padding: 25px 47px;
  background: url("../images/system_img/bg-btn.jpg");
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.full__btn:hover {
  -webkit-transform: translate(0, 10px);
      -ms-transform: translate(0, 10px);
          transform: translate(0, 10px);
}

.aqua {
  background: url("../images/system_img/aqua-zona/bg-aqua.jpg") center/cover no-repeat;
}

.aqua__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .aqua__wrapper {
    display: block;
  }
}

@media (min-width: 991px) {
  .aqua__left {
    background: url("../../images/system_img/aqua-zona/bg-left.svg") center/cover no-repeat;
  }
}

@media (min-width: 768px) {
  .aqua__left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 768px) {
  .aqua__left {
    display: none;
  }
}

.aqua__left-img img {
  max-width: 100%;
}

.aqua__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 450px;
          flex: 0 1 450px;
}

@media (max-width: 768px) {
  .aqua__right {
    width: 100%;
  }
}

.right-aqua {
  position: relative;
  background: url("../../images/system_img/aqua-zona/bg-right.png") 0 -121px/cover no-repeat;
}

@media (max-width: 420px) {
  .right-aqua {
    background: none;
  }
}

.right-aqua__content {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 240px 20px 144px 60px;
}

@media (max-width: 768px) {
  .right-aqua__content {
    padding: 100px 20px 144px 80px;
    text-align: center;
  }
}

@media (max-width: 590px) {
  .right-aqua__content {
    padding: 30px 20px 144px 80px;
    text-align: center;
  }
}

@media (max-width: 420px) {
  .right-aqua__content {
    padding: 30px 10px 0 10px;
  }
}

.right-aqua__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.3em;
  color: #ffffff;
}

@media (max-width: 420px) {
  .right-aqua__title {
    color: #395a71;
  }
}

.right-aqua__text {
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
  color: #ffffff;
  margin: 30px 0;
}

@media (max-width: 420px) {
  .right-aqua__text {
    color: #395a71;
  }
}

.right-aqua__btn {
  display: inline-block;
  background: #ffffff;
  color: #395a71;
}

@media (max-width: 420px) {
  .right-aqua__btn {
    background: #395a71;
    color: #fff;
  }
}

.right-aqua__items {
  margin: 90px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 650px) {
  .right-aqua__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 590px) {
  .right-aqua__items {
    margin: 30px 0;
  }
}

.right-aqua__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
  padding: 0 20px;
}

@media (max-width: 650px) {
  .right-aqua__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0 0 0 0;
  }
  .right-aqua__item:first-child {
    padding: 0 0 20px 0;
  }
  .right-aqua__item:last-child {
    padding: 0 0 20px 0;
  }
}

@media (max-width: 420px) {
  .right-aqua__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0 0 20px 0;
  }
  .right-aqua__item:first-child {
    padding: 0 0 20px 0;
  }
  .right-aqua__item:last-child {
    padding: 0 0 20px 0;
  }
}

.item-aqua {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-aqua__img {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 20px;
}

.item-aqua__img img {
  max-width: 100%;
}

@media (max-width: 420px) {
  .item-aqua__img {
    background: #395a71;
  }
}

.item-aqua__text {
  margin: 20px 0 0 0;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

@media (max-width: 420px) {
  .item-aqua__text {
    color: #395a71;
  }
}
