@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 100vw;
  overflow: hidden;
}

input[placeholder] {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

input::-moz-placeholder {
  text-overflow: ellipsis;
}

input:-moz-placeholder {
  text-overflow: ellipsis;
}

input:-ms-input-placeholder {
  text-overflow: ellipsis;
}

svg path {
  fill: inherit;
  stroke: inherit;
}

svg rect {
  fill: inherit;
  stroke: inherit;
}

.main-content {
  background: url("../../images/system_img/bg-wrap.jpg") center/cover no-repeat;
  position: relative;
}

.main-content__lines-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.main-content__lines-2 {
  position: absolute;
  top: 1200px;
  right: 0;
  z-index: 0;
}

.title {
  font-weight: 900;
  text-transform: uppercase;
  color: #395a71;
  font-size: calc(40px + 30 * ((100vw - 320px) / 1600));
  line-height: 121%;
}

.btn {
  border-radius: 50px;
  padding: 20px 35px;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.btn:hover {
  -webkit-transform: translate(0, 10px);
      -ms-transform: translate(0, 10px);
          transform: translate(0, 10px);
}

.header {
  width: 100%;
  height: 100px;
  overflow: hidden;
  background: url("../images/system_img/header/bg-header.jpg");
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  width: 100%;
  height: 100%;
}

@media (max-width: 1336px) {
  .header__wrapper {
    padding: 0 25px;
  }
}

@media (max-width: 400px) {
  .header__wrapper {
    padding: 0 5px;
  }
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 38px 0 0;
  cursor: pointer;
}

@media (max-width: 1336px) {
  .header__lang {
    margin: 0 20px 0 0;
  }
}

@media (max-width: 450px) {
  .header__lang {
    margin: 10px 0;
  }
}

.header__lang-logo {
  width: 30px;
  height: 30px;
  margin: 0 12px 0 0;
}

.header__lang-text {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 3px 0 0 0;
}

@media (max-width: 360px) {
  .header__logo {
    padding: 0 10px 0 0;
  }
}

.header__logo img {
  max-width: 100%;
}

@media (max-width: 1050px) {
  .menu {
    position: absolute;
    background: url("../../images/system_img/footer/bg.jpg");
    z-index: 4;
    top: 100px;
    left: 0;
    width: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
    opacity: 0;
  }
  .menu._active {
    width: 100%;
    padding: 10px;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1440px) {
  .menu__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1050px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.menu__item {
  padding: 0 25px;
  text-align: center;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 768px) {
  .menu__item:hover {
    background-color: #fff;
  }
  .menu__item:hover a {
    color: #395a71;
  }
}

@media (max-width: 1600px) {
  .menu__item {
    padding: 0 10px;
  }
}

@media (max-width: 1440px) {
  .menu__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    padding: 10px 0;
  }
}

@media (max-width: 1050px) {
  .menu__item {
    width: 100%;
    padding: 20px 0;
  }
}

.menu__item a {
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .search {
    margin: 10px 0;
  }
}

.search__input {
  background: #ffffff;
  border-radius: 20px;
  padding: 9px 20px 8px 20px;
  font-size: 19px;
  line-height: 23px;
  color: #000;
}

@media (max-width: 1336px) {
  .search__input {
    padding: 9px 5px 8px 20px;
  }
}

.search__input::-webkit-input-placeholder {
  font-size: 19px;
  line-height: 23px;
  color: #a2a2a2;
}

.search__input:-ms-input-placeholder {
  font-size: 19px;
  line-height: 23px;
  color: #a2a2a2;
}

.search__input::-ms-input-placeholder {
  font-size: 19px;
  line-height: 23px;
  color: #a2a2a2;
}

.search__input::placeholder {
  font-size: 19px;
  line-height: 23px;
  color: #a2a2a2;
}

.search__btn {
  margin: 0 0 0 35px;
  background: none;
}

@media (max-width: 1199px) {
  .search__btn {
    margin: 0 0 0 15px;
  }
}

.search__btn img {
  width: 31px;
  height: 31px;
}

.header__burger {
  display: none;
}

@media (max-width: 1050px) {
  body._lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header__burger:before {
    content: "";
    top: 0;
  }
  .header__burger:after {
    content: "";
    bottom: 0;
  }
  .header__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header__burger._active:before {
    content: "";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header__burger._active:after {
    content: "";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
}

.full {
  position: relative;
  height: calc(100vh - 100px);
  overflow: hidden;
  background: url("../images/system_img/bg-video.jpg") center/cover no-repeat;
}

.full__video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.full__video video {
  width: 100vw;
  height: auto;
}

@media (max-width: 1199px) {
  .full__video video {
    width: auto;
    height: 100vh;
  }
}

.full__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.full__title {
  margin: 35vh 0 15vh 0;
  font-weight: 900;
  font-size: calc(20px + 30 * ((100vw - 320px) / 1600));
  line-height: 121%;
  letter-spacing: 0.8em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
}

.full__btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
  color: #ffffff;
  padding: 25px 47px;
  background: url("../images/system_img/bg-btn.jpg");
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
}

.aqua {
  background: url("../images/system_img/aqua-zona/bg-aqua.jpg") center/cover no-repeat;
}

.aqua__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .aqua__wrapper {
    display: block;
  }
}

@media (min-width: 991px) {
  .aqua__left {
    background: url("../../images/system_img/aqua-zona/bg-left.svg") center/cover no-repeat;
  }
}

@media (min-width: 768px) {
  .aqua__left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 768px) {
  .aqua__left {
    display: none;
  }
}

.aqua__left-img img {
  max-width: 100%;
}

.aqua__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 450px;
          flex: 0 1 450px;
}

@media (max-width: 768px) {
  .aqua__right {
    width: 100%;
  }
}

.right-aqua {
  position: relative;
  background: url("../../images/system_img/aqua-zona/bg-right.png") 0 -121px/cover no-repeat;
}

@media (max-width: 420px) {
  .right-aqua {
    background: none;
  }
}

.right-aqua__content {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 240px 20px 144px 60px;
}

@media (max-width: 768px) {
  .right-aqua__content {
    padding: 100px 20px 144px 80px;
    text-align: center;
  }
}

@media (max-width: 590px) {
  .right-aqua__content {
    padding: 30px 20px 144px 80px;
    text-align: center;
  }
}

@media (max-width: 420px) {
  .right-aqua__content {
    padding: 30px 10px 0 10px;
  }
}

.right-aqua__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.3em;
  color: #ffffff;
}

@media (max-width: 420px) {
  .right-aqua__title {
    color: #395a71;
  }
}

.right-aqua__text {
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
  color: #ffffff;
  margin: 30px 0;
}

@media (max-width: 420px) {
  .right-aqua__text {
    color: #395a71;
  }
}

.right-aqua__btn {
  display: inline-block;
  background: #ffffff;
  color: #395a71;
}

@media (max-width: 420px) {
  .right-aqua__btn {
    background: #395a71;
    color: #fff;
  }
}

.right-aqua__items {
  margin: 90px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 650px) {
  .right-aqua__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 590px) {
  .right-aqua__items {
    margin: 30px 0;
  }
}

@media (max-width: 420px) {
  .right-aqua__items {
    margin: 30px 0 0 0;
  }
}

.right-aqua__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100px;
          flex: 0 1 100px;
  padding: 0 20px;
}

@media (max-width: 650px) {
  .right-aqua__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 0 0 0 0;
  }
  .right-aqua__item:first-child {
    padding: 0 0 20px 0;
  }
  .right-aqua__item:last-child {
    padding: 0 0 20px 0;
  }
}

@media (max-width: 420px) {
  .right-aqua__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0 0 20px 0;
  }
  .right-aqua__item:first-child {
    padding: 0 0 20px 0;
  }
  .right-aqua__item:last-child {
    padding: 0 0 20px 0;
  }
}

.item-aqua {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-aqua__img {
  width: 100px;
  height: 100px;
  background: #ffffff;
  border-radius: 20px;
}

.item-aqua__img img {
  max-width: 100%;
}

@media (max-width: 420px) {
  .item-aqua__img {
    background: #395a71;
  }
}

.item-aqua__text {
  margin: 20px 0 0 0;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

@media (max-width: 420px) {
  .item-aqua__text {
    color: #395a71;
  }
}

.services {
  position: relative;
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}

.services__leaf {
  position: absolute;
  top: -200px;
  left: -45px;
  z-index: 5;
  width: 25vw;
  -webkit-transform: scale(1, -1) rotate(45deg);
      -ms-transform: scale(1, -1) rotate(45deg);
          transform: scale(1, -1) rotate(45deg);
}

.services__leaf img {
  max-width: 100%;
}

@media (min-width: 1700px) {
  .services__leaf {
    left: -100px;
  }
}

@media (max-width: 1199px) {
  .services__leaf {
    width: 500px;
    top: -275px;
    left: -105px;
  }
}

@media (max-width: 768px) {
  .services__leaf {
    display: none;
  }
}

.services__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25vw;
          flex: 0 1 25vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding: 0 10px;
}

@media (max-width: 1500px) {
  .services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30vw;
            flex: 0 0 30vw;
  }
}

@media (max-width: 1235px) {
  .services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 450px;
            flex: 0 0 450px;
  }
}

@media (max-width: 480px) {
  .services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100vw;
            flex: 0 0 100vw;
  }
}

.services__title {
  position: relative;
  z-index: 2;
  font-weight: 900;
  font-size: 50px;
  line-height: 121%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
}

@media (max-width: 480px) {
  .services__title {
    font-size: 35px;
  }
}

.services__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.shares {
  padding: 50px 0 0 0;
}

@media (min-width: 768px) {
  .shares {
    height: 500px;
  }
}

@media (min-width: 991px) {
  .shares {
    height: 600px;
  }
}

@media (min-width: 1199px) {
  .shares {
    height: 700px;
  }
}

@media (min-width: 1400px) {
  .shares {
    height: 800px;
  }
}

@media (min-width: 1700px) {
  .shares {
    height: 900px;
  }
}

@media (min-width: 2000px) {
  .shares {
    height: 1000px;
  }
}

@media (min-width: 2200px) {
  .shares {
    height: 1200px;
  }
}

.shares__wrapper {
  position: relative;
}

@media (max-width: 768px) {
  .shares__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.shares__title {
  width: 100%;
  text-align: center;
}

.shares__img-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 33.33vw;
}

.shares__img-left img {
  width: 100%;
}

@media (max-width: 768px) {
  .shares__img-left {
    position: static;
    width: 40vw;
  }
}

.shares__img-center {
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 2;
  width: 50vw;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.shares__img-center img {
  width: 100%;
}

@media (max-width: 768px) {
  .shares__img-center {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: -75px 0 0 0;
  }
}

.shares__img-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 33.33vw;
}

.shares__img-right img {
  width: 100%;
}

@media (max-width: 768px) {
  .shares__img-right {
    position: static;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: -75px 0 0 0;
    width: 40vw;
  }
}

.store {
  position: relative;
}

@media (max-width: 768px) {
  .store {
    padding: 50px 10px;
  }
}

.store__dark-bg {
  position: absolute;
  top: -150px;
  left: 0;
  z-index: 5;
}

.store__dark-bg img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .store__dark-bg {
    display: none;
  }
}

.store__leaf {
  position: absolute;
  bottom: -220px;
  left: 0;
  width: 35vw;
}

.store__leaf img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .store__leaf {
    display: none;
  }
}

.store__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .store__wrapper {
    display: block;
  }
}

.store__column-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
}

@media (max-width: 768px) {
  .store__column-img {
    display: none;
  }
}

.store__bg {
  width: 100%;
}

.store__bg img {
  max-width: 100%;
}

.store__column-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .store__column-content {
    text-align: center;
  }
}

.store__text {
  margin: 20px 0 40px 0;
  font-size: 20px;
  line-height: 24px;
}

.store__btn {
  display: inline-block;
  background: #353131;
  color: #fff;
}

.news {
  padding: 40px 0 200px 0;
  position: relative;
}

@media (max-width: 768px) {
  .news {
    padding: 40px 0;
  }
}

.news__leaf {
  position: absolute;
  bottom: -250px;
  right: 0;
  z-index: 0;
  width: 35vw;
}

.news__leaf img {
  width: 100%;
}

@media (max-width: 1199px) {
  .news__leaf {
    width: 45vw;
  }
}

@media (max-width: 768px) {
  .news__leaf {
    display: none;
  }
}

.news__wrapper {
  padding: 0 70px;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .news__wrapper {
    padding: 0 10px;
  }
}

.news__title {
  width: 100%;
  text-align: center;
  margin: 0 0 50px 0;
}

.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1199px) {
  .news__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news__column-big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 -25px;
}

.news__row:first-child {
  margin: 0 0 65px 0;
}

@media (max-width: 991px) {
  .news__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__row:first-child {
    margin: 0 0 0 -25px;
  }
}

@media (max-width: 768px) {
  .news__row {
    margin: 0;
  }
  .news__row:first-child {
    margin: 0 0 0 0;
  }
}

.news__column-small {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

@media (max-width: 1199px) {
  .news__column-small {
    margin: 50px 0 0 0;
  }
}

@media (max-width: 991px) {
  .news__column-small {
    margin: 25px 0 0 0;
  }
}

@media (max-width: 768px) {
  .news__column-small {
    margin: 15px 0 0 0;
  }
}

.news__text-column {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 10px 0;
}

.news__text-column:last-child {
  margin: 0;
}

.item-news {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 25px;
}

.item-news__img img {
  width: 100%;
}

.item-news__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  margin: 30px 0 17px 0;
}

.item-news__text {
  font-size: 20px;
  line-height: 24px;
}

@media (max-width: 991px) {
  .item-news {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 25px 0 0;
    margin: 0 0 65px 0;
  }
  .item-news .item-news__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
  .item-news .item-news__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
    padding: 0 0 0 50px;
  }
  .item-news .item-news__title {
    margin: 0 0 17px 0;
  }
}

@media (max-width: 768px) {
  .item-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .item-news .item-news__body {
    padding: 25px 0 0 0;
  }
}

.item-news--big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 25px 0 0;
}

.item-news--big .item-news__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.item-news--big .item-news__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  padding: 0 0 0 50px;
}

.item-news--big .item-news__title {
  margin: 0 0 17px 0;
}

@media (max-width: 768px) {
  .item-news--big {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .item-news--big .item-news__body {
    padding: 25px 0 0 0;
  }
}

.footer {
  background: url("../images/system_img/footer/bg.jpg") center/cover no-repeat;
  padding: 77px 15px 30px 15px;
  position: relative;
  z-index: 1;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

@media (max-width: 768px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .footer__column {
    margin: 0 0 70px 0;
  }
}

@media (max-width: 768px) {
  .footer__column--logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__logo {
  width: 75%;
}

.footer__logo img {
  width: 100%;
}

@media (max-width: 991px) {
  .footer__logo {
    width: 90%;
  }
}

.footer__ps {
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 30px 0 0 0;
}

.item-center:first-child {
  margin: 0 0 37px 0;
}

.item-center__text {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.item-center__img {
  width: 24px;
  height: 30px;
  margin: 10px 0 0 0;
  display: block;
}

.item-center__img img {
  max-width: 100%;
}

.links-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px 0;
}

.links-footer__item:last-child {
  margin: 0;
}

.links-footer__img {
  margin: 0 30px 0 0;
}

.links-footer__img img {
  max-width: 100%;
}

.links-footer__text {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
