@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  max-width: 100vw;
  overflow: hidden;
}

input[placeholder] {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

input::-moz-placeholder {
  text-overflow: ellipsis;
}

input:-moz-placeholder {
  text-overflow: ellipsis;
}

input:-ms-input-placeholder {
  text-overflow: ellipsis;
}

svg path {
  fill: inherit;
  stroke: inherit;
}

svg rect {
  fill: inherit;
  stroke: inherit;
}

.main-content {
  background: url("../images/system_img/bg-wrap.jpg") center/cover no-repeat;
  position: relative;
}

.main-content__lines-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.main-content__lines-2 {
  position: absolute;
  top: 1200px;
  right: 0;
  z-index: 0;
}

.popup {
  position: fixed;
  display: block;
  width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  padding: 10px;
}

.popup__wrapper {
  width: 80%;
  margin: 0 auto;
  background: url("../images/system_img/services/bg.jpg") center/cover no-repeat;
  border-radius: 90px;
  padding: 30px;
}

@media (max-width: 500px) {
  .popup__wrapper {
    padding: 10px;
  }
}

.popup__content-block {
  border-radius: 90px;
  background-color: #fff;
  padding: 70px 75px 25px 75px;
  text-align: center;
}

@media (max-width: 1435px) {
  .popup__content-block {
    padding: 20px 25px 25px 20px;
  }
}

@media (max-width: 768px) {
  .popup__content-block {
    padding: 40px 25px 25px 25px;
  }
}

.popup__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 35px 0;
}

@media (max-width: 500px) {
  .popup__title {
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 15px 0;
  }
}

.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -30px 85px -30px;
}

@media (max-width: 1500px) {
  .popup__body {
    margin: 0 -15px 35px -15px;
  }
}

@media (max-width: 991px) {
  .popup__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 500px) {
  .popup__body {
    margin: 0 0 25px 0;
  }
}

.popup__img {
  padding: 0 30px 0 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.popup__img img {
  max-width: 100%;
  margin: 0 0 15px 0;
}

@media (max-width: 1500px) {
  .popup__img {
    padding: 0 15px 0 0;
  }
}

@media (max-width: 991px) {
  .popup__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 15px 0;
  }
  .popup__img img {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    width: 50%;
    margin: 0 30px 0 0;
  }
}

@media (max-width: 768px) {
  .popup__img div {
    text-align: center;
    width: 100%;
  }
  .popup__img img {
    display: none;
  }
}

.popup__date-info {
  margin: 5px 0 0 0;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  text-transform: lowercase;
}

@media (max-width: 1336px) {
  .popup__date-info {
    font-size: 22px;
    line-height: 27px;
  }
}

@media (max-width: 500px) {
  .popup__date-info {
    font-size: 16px;
    line-height: 20px;
  }
}

.popup__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  padding: 0 0 0 30px;
  overflow: auto;
}

@media (max-width: 1500px) {
  .popup__info {
    padding: 0 0 0 15px;
  }
}

@media (max-width: 991px) {
  .popup__info {
    padding: 15px 0 0 0;
  }
}

@media (max-width: 768px) {
  .popup__info {
    overflow: auto;
  }
}

.popup__info p {
  font-size: 30px;
  line-height: 37px;
  margin: 0 0 30px 0;
}

@media (max-width: 1500px) {
  .popup__info p {
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 15px 0;
  }
}

@media (max-width: 1435px) {
  .popup__info p {
    white-space: nowrap;
  }
}

@media (max-width: 840px) {
  .popup__info p {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 10px 0;
  }
}

@media (max-width: 768px) {
  .popup__info p {
    white-space: nowrap;
  }
}

.popup__info p:last-child {
  margin: 0;
}

.popup__btn {
  background: url("../images/system_img/services/bg.jpg") center/cover no-repeat;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.title {
  font-weight: 900;
  text-transform: uppercase;
  color: #395a71;
  font-size: calc(40px + 30 * ((100vw - 320px) / 1600));
  line-height: 121%;
}

.btn {
  border-radius: 50px;
  padding: 20px 35px;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.btn:hover {
  -webkit-animation-name: rot;
          animation-name: rot;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes rot {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes rot {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  75% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.header {
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 5;
  background: url("../images/system_img/header/bg-header.jpg");
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  width: 100%;
  height: 100%;
}

@media (max-width: 1336px) {
  .header__wrapper {
    padding: 0 25px;
  }
}

@media (max-width: 400px) {
  .header__wrapper {
    padding: 0 5px;
  }
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 38px 0 0;
  cursor: pointer;
}

@media (max-width: 1336px) {
  .header__lang {
    margin: 0 20px 0 0;
  }
}

@media (max-width: 450px) {
  .header__lang {
    margin: 10px 0;
  }
}

.header__lang-logo {
  width: 30px;
  height: 30px;
  margin: 0 12px 0 0;
}

.header__lang-text {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 3px 0 0 0;
}

@media (max-width: 1450px) {
  .header__logo {
    width: 180px;
  }
}

@media (max-width: 360px) {
  .header__logo {
    padding: 0 10px 0 0;
  }
}

.header__logo img {
  max-width: 100%;
}

@media (max-width: 1250px) {
  .menu {
    position: absolute;
    background: url("../images/system_img/footer/bg.jpg");
    z-index: 4;
    top: 100px;
    left: 0;
    width: 0;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
    opacity: 0;
  }
  .menu._active {
    width: 100%;
    padding: 10px;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1250px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.menu__item {
  padding: 10px 25px;
  text-align: center;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 991px) {
  .menu__item:hover {
    background-color: #fff;
  }
  .menu__item:hover a {
    color: #395a71;
  }
}

@media (max-width: 1600px) {
  .menu__item {
    padding: 10px 10px;
  }
}

@media (max-width: 1250px) {
  .menu__item {
    width: 100%;
    padding: 20px 0;
  }
}

.menu__item a {
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: lowercase;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1450px) {
  .menu__item a {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .search {
    margin: 10px 0;
  }
}

.search__input {
  background: #ffffff;
  border-radius: 20px;
  padding: 9px 20px 8px 20px;
  font-size: 19px;
  line-height: 23px;
  color: #000;
}

@media (max-width: 1336px) {
  .search__input {
    padding: 9px 5px 8px 20px;
  }
}

.search__input::-webkit-input-placeholder {
  font-size: 19px;
  line-height: 23px;
  color: #a2a2a2;
}

.search__input:-ms-input-placeholder {
  font-size: 19px;
  line-height: 23px;
  color: #a2a2a2;
}

.search__input::-ms-input-placeholder {
  font-size: 19px;
  line-height: 23px;
  color: #a2a2a2;
}

.search__input::placeholder {
  font-size: 19px;
  line-height: 23px;
  color: #a2a2a2;
}

@media (max-width: 1440px) {
  .search__input::-webkit-input-placeholder {
    font-size: 15px;
  }
  .search__input:-ms-input-placeholder {
    font-size: 15px;
  }
  .search__input::-ms-input-placeholder {
    font-size: 15px;
  }
  .search__input::placeholder {
    font-size: 15px;
  }
}

.search__btn {
  margin: 0 0 0 35px;
  background: none;
}

@media (max-width: 1199px) {
  .search__btn {
    margin: 0 0 0 15px;
  }
}

.search__btn img {
  width: 31px;
  height: 31px;
}

.header__burger {
  display: none;
}

@media (max-width: 1250px) {
  body._lock {
    overflow: hidden;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header__burger:before {
    content: "";
    top: 0;
  }
  .header__burger:after {
    content: "";
    bottom: 0;
  }
  .header__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header__burger._active:before {
    content: "";
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
  .header__burger._active:after {
    content: "";
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
  }
}

.full {
  position: relative;
  height: calc(100vh - 100px);
  overflow: hidden;
  background: url("../images/system_img/bg-wrap.jpg") center/cover no-repeat;
}

.full__video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.full__video video {
  width: 100vw;
  height: auto;
}

@media (max-width: 1199px) {
  .full__video video {
    width: auto;
    height: 100vh;
  }
}

.full__content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.full__title {
  margin: 35vh 0 15vh 0;
  font-weight: 900;
  font-size: calc(20px + 30 * ((100vw - 320px) / 1600));
  line-height: 121%;
  letter-spacing: 0.8em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
}

.full__btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-transform: lowercase;
  color: #ffffff;
  padding: 25px 47px;
  background: url("../images/system_img/bg-btn.jpg");
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
}

.aqua {
  background: url("../images/system_img/bg-wrap.jpg") center/cover no-repeat;
  position: relative;
}

@media (min-width: 768px) {
  .aqua {
    padding: 43px 70px 30px 70px;
  }
}

.aqua__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aqua__wrapper img {
  max-width: 100%;
}

.aqua__leaf-f {
  position: absolute;
  top: -40%;
  right: 0;
  z-index: 10;
  max-width: 25vw;
}

.aqua__leaf-f img {
  max-width: 100%;
}

.aqua__leaf-s {
  position: absolute;
  bottom: -100%;
  left: 0;
  z-index: 10;
  max-width: 25vw;
}

.aqua__leaf-s img {
  max-width: 100%;
}

.services {
  position: relative;
  background: url("../images/system_img/bg-wrap.jpg");
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}

.services__leaf {
  position: absolute;
  top: -200px;
  left: -45px;
  z-index: 5;
  width: 25vw;
}

.services__leaf img {
  max-width: 100%;
}

@media (min-width: 1700px) {
  .services__leaf {
    left: -100px;
  }
}

@media (max-width: 1199px) {
  .services__leaf {
    width: 500px;
    top: -275px;
    left: -105px;
  }
}

@media (max-width: 768px) {
  .services__leaf {
    display: none;
  }
}

.services__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25vw;
          flex: 0 1 25vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding: 0 10px;
}

@media (max-width: 1500px) {
  .services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30vw;
            flex: 0 0 30vw;
  }
}

@media (max-width: 1235px) {
  .services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 450px;
            flex: 0 0 450px;
  }
}

@media (max-width: 480px) {
  .services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100vw;
            flex: 0 0 100vw;
  }
}

.services__title {
  position: relative;
  z-index: 2;
  font-weight: 900;
  font-size: 50px;
  line-height: 121%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
}

@media (max-width: 480px) {
  .services__title {
    font-size: 35px;
  }
}

.services__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.week {
  padding: 10vh 0 10vh 30px;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .week {
    padding: 10vh 10px;
  }
}

.week__title {
  margin: 0 0 30px 0;
  font-size: calc(35px + 35 * ((100vw - 320px) / 1600));
  position: relative;
  z-index: 11;
}

.week__second-slider {
  position: relative;
  z-index: 11;
}

.week__leaf-f {
  position: absolute;
  top: -20%;
  left: -10%;
  z-index: 10;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  max-width: 35vw;
}

@media (max-width: 1440px) {
  .week__leaf-f {
    top: -100px;
  }
}

@media (max-width: 550px) {
  .week__leaf-f {
    top: -80px;
    max-width: 55vw;
  }
}

.week__leaf-f img {
  max-width: 100%;
}

.week__leaf-s {
  position: absolute;
  bottom: -30%;
  right: -10%;
  z-index: 5;
  max-width: 35vw;
}

@media (max-width: 1440px) {
  .week__leaf-s {
    bottom: -180px;
  }
}

@media (max-width: 768px) {
  .week__leaf-s {
    max-width: 55vw;
    bottom: -80px;
    right: -15%;
  }
}

.week__leaf-s img {
  max-width: 100%;
}

.main-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 100px 0 0 0;
  /* Активная точка */
  /* Элемент точки */
}

.main-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-slider .slick-dots li {
  margin: 0 13px;
}

.main-slider .slick-dots li:first-child {
  margin: 0 13px 0 0;
}

.main-slider .slick-dots li.slick-active {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}

.main-slider .slick-dots li.slick-active button {
  font-weight: bold;
  color: #395a71;
}

.main-slider .slick-dots li.slick-active button:before {
  height: 50px;
  background-color: #395a71;
  top: -59px;
}

.main-slider .slick-dots li button {
  background: none;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  position: relative;
}

.main-slider .slick-dots li button:before {
  content: "";
  display: block;
  width: 5px;
  height: 30px;
  background-color: #000;
  position: absolute;
  top: -39px;
  left: 0;
}

.second-slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px -25px 0 -25px;
  position: relative;
  z-index: 1;
}

@media (max-width: 991px) {
  .second-slider__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.slide-second {
  padding: 80px 0 0 0;
}

.slide-second__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 768px) {
  .slide-second__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.slide-second__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .slide-second__info {
    text-align: center;
    margin: 30px 0 0 0;
  }
}

.slide-second__title {
  font-weight: bold;
  font-size: calc(35px + 25 * ((100vw - 320px) / 1600));
  line-height: 121%;
  color: #395a71;
  margin: 0 0 20px 0;
}

.slide-second__text {
  font-size: 30px;
  line-height: 37px;
  text-transform: lowercase;
}

.slide-second__img {
  position: absolute;
  top: -80px;
  right: 0;
  width: 45vw;
  z-index: 0;
  border-radius: 22% 48% 40% 29% / 30% 10% 20% 59%;
  overflow: hidden;
}

.slide-second__img img {
  width: 100%;
}

@media (min-width: 1700px) {
  .slide-second__img {
    width: 800px;
  }
}

@media (max-width: 768px) {
  .slide-second__img {
    position: static;
    width: 90%;
    border-radius: 22% 48% 40% 29% / 30% 52% 30% 59%;
  }
}

.button-second {
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .button-second {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    padding: 25px;
  }
}

@media (max-width: 768px) {
  .button-second {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 25px;
  }
}

.button-second__img {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.button-second__img img {
  width: 100%;
  height: 100%;
}

.button-second__date {
  margin: 30px 0 9px 0;
  font-size: 30px;
  line-height: 37px;
  position: relative;
  z-index: 11;
}

.button-second__name {
  font-size: 20px;
  line-height: 24px;
  position: relative;
  z-index: 11;
}

.button-second._active .button-second__img {
  border-radius: 50%;
}

.shares {
  padding: 50px 0 0 0;
  position: relative;
  z-index: 11;
}

.shares__wrapper {
  position: relative;
}

@media (max-width: 768px) {
  .shares__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.shares__title {
  width: 100%;
  text-align: center;
}

.shares__slider {
  -webkit-transform: translateY(-57px);
      -ms-transform: translateY(-57px);
          transform: translateY(-57px);
}

@media (max-width: 768px) {
  .shares__slider {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

.shares__slider .slick-center {
  -webkit-transition: 1000ms;
  -o-transition: 1000ms;
  transition: 1000ms;
  margin-top: 0.7%;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

@media (max-width: 1336px) {
  .shares__slider .slick-center {
    margin-top: 1%;
  }
}

@media (max-width: 768px) {
  .shares__slider .slick-center {
    margin-top: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

.shares__img {
  display: block;
  padding: 0 15px;
}

.shares__img img {
  width: 100%;
}

.store {
  position: relative;
}

.store__leaf-f {
  position: absolute;
  top: -40%;
  right: -5%;
  z-index: 10;
  max-width: 35vw;
}

@media (max-width: 500px) {
  .store__leaf-f {
    top: -10%;
  }
}

.store__leaf-f img {
  max-width: 100%;
}

.store__leaf-s {
  position: absolute;
  bottom: -35%;
  left: 0;
  z-index: 10;
  max-width: 45vw;
}

@media (max-width: 500px) {
  .store__leaf-s {
    bottom: -10%;
  }
}

.store__leaf-s img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .store {
    padding: 50px 10px;
  }
}

.store__dark-bg {
  position: absolute;
  top: -150px;
  left: 0;
  z-index: 5;
}

.store__dark-bg img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .store__dark-bg {
    display: none;
  }
}

.store__leaf {
  position: absolute;
  bottom: -220px;
  left: 0;
  width: 35vw;
}

.store__leaf img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .store__leaf {
    display: none;
  }
}

.store__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .store__wrapper {
    display: block;
  }
}

.store__column-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
}

@media (max-width: 768px) {
  .store__column-img {
    display: none;
  }
}

.store__bg {
  width: 100%;
}

.store__bg img {
  max-width: 100%;
}

.store__column-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .store__column-content {
    text-align: center;
  }
}

.store__text {
  margin: 20px 0 40px 0;
  font-size: 20px;
  line-height: 24px;
}

.store__btn {
  display: inline-block;
  background: #353131;
  color: #fff;
}

.news {
  padding: 40px 0 200px 0;
  position: relative;
}

@media (max-width: 768px) {
  .news {
    padding: 40px 0;
  }
}

.news__leaf-f {
  position: absolute;
  bottom: -20%;
  left: 0;
  z-index: 10;
  max-width: 45vw;
}

@media (max-width: 1100px) {
  .news__leaf-f {
    bottom: -150px;
  }
}

@media (max-width: 520px) {
  .news__leaf-f {
    bottom: -80px;
  }
}

.news__leaf-f img {
  max-width: 100%;
}

.news__leaf-s {
  position: absolute;
  bottom: -20%;
  right: 0;
  z-index: 10;
  max-width: 45vw;
}

@media (max-width: 1100px) {
  .news__leaf-s {
    bottom: -150px;
  }
}

@media (max-width: 520px) {
  .news__leaf-s {
    bottom: -80px;
  }
}

.news__leaf-s img {
  max-width: 100%;
}

.news__wrapper {
  padding: 0 70px;
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .news__wrapper {
    padding: 0 10px;
  }
}

.news__title {
  width: 100%;
  text-align: center;
  margin: 0 0 50px 0;
}

.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1199px) {
  .news__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news__column-big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.news__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 -25px;
}

.news__row:first-child {
  margin: 0 0 65px 0;
}

@media (max-width: 991px) {
  .news__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__row:first-child {
    margin: 0 0 0 -25px;
  }
}

@media (max-width: 768px) {
  .news__row {
    margin: 0;
  }
  .news__row:first-child {
    margin: 0 0 0 0;
  }
}

.news__column-small {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

@media (max-width: 1199px) {
  .news__column-small {
    margin: 50px 0 0 0;
  }
}

@media (max-width: 991px) {
  .news__column-small {
    margin: 25px 0 0 0;
  }
}

@media (max-width: 768px) {
  .news__column-small {
    margin: 15px 0 0 0;
  }
}

.news__text-column {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 10px 0;
}

.news__text-column:last-child {
  margin: 0;
}

.item-news {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 25px;
}

.item-news__img img {
  width: 100%;
}

.item-news__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  margin: 30px 0 17px 0;
}

.item-news__text {
  font-size: 20px;
  line-height: 24px;
}

@media (max-width: 991px) {
  .item-news {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 25px 0 0;
    margin: 0 0 65px 0;
  }
  .item-news .item-news__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
  .item-news .item-news__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
    padding: 0 0 0 50px;
  }
  .item-news .item-news__title {
    margin: 0 0 17px 0;
  }
}

@media (max-width: 768px) {
  .item-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .item-news .item-news__body {
    padding: 25px 0 0 0;
  }
}

.item-news--big {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 25px 0 0;
}

.item-news--big .item-news__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.item-news--big .item-news__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  padding: 0 0 0 50px;
}

.item-news--big .item-news__title {
  margin: 0 0 17px 0;
}

@media (max-width: 768px) {
  .item-news--big {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .item-news--big .item-news__body {
    padding: 25px 0 0 0;
  }
}

.main-tickets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

@media (max-width: 768px) {
  .main-tickets {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-tickets__aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  background: url("../images/system_img/services/01.jpg") center/cover no-repeat;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-tickets__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
  overflow-y: auto;
  background: url("../images/system_img/services/bg.jpg") center/cover no-repeat;
}

.main-tickets__title {
  color: #fff;
  text-align: center;
  font-size: calc(30px + 10 * ((100vw - 320px) / 1600));
}

.content-ticket {
  padding: 5vw 50px 60px 50px;
}

@media (max-width: 768px) {
  .content-ticket {
    padding: 5vw 10px 60px 10px;
  }
}

.content-ticket__wrapper--flex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-ticket__btn-back {
  margin: 0 0 30px 0;
  display: inline-block;
  width: 40px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.content-ticket__btn-back:hover {
  -webkit-transform: translate(-5px, -5px) rotate(-360deg);
      -ms-transform: translate(-5px, -5px) rotate(-360deg);
          transform: translate(-5px, -5px) rotate(-360deg);
}

.content-ticket__pay {
  background: #ffffff;
  border-radius: 40px;
  width: 50vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.content-ticket__pay-text {
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.item-ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 60px 0;
}

.item-ticket:last-child {
  margin: 0;
}

@media (max-width: 1199px) {
  .item-ticket {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1199px) {
  .item-ticket__info {
    text-align: center;
  }
}

.item-ticket__name {
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 10px 0;
}

.item-ticket__text {
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
}

.item-ticket__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1199px) {
  .item-ticket__body {
    margin: 30px 0 0 0;
  }
}

@media (max-width: 450px) {
  .item-ticket__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.item-ticket__price {
  font-size: 30px;
  line-height: 37px;
  color: #ffffff;
  margin: 0 58px 0 0;
}

.item-ticket__price span {
  font-weight: bold;
}

@media (max-width: 450px) {
  .item-ticket__price {
    margin: 0 0 20px 0;
  }
}

.item-ticket__btn {
  display: block;
  color: #395a71;
  background-color: #fff;
}

.form-ticket {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 40px 0;
}

.form-ticket__label {
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 10px 0;
  text-align: center;
}

.form-ticket__input {
  margin: 0 0 40px 0;
  background: #ffffff;
  border-radius: 40px;
  height: 50px;
  text-align: center;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.form-ticket__date-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 40px 0;
}

.form-ticket__date-time .form-ticket__label {
  margin: 0 24px 0 0;
}

@media (max-width: 991px) {
  .form-ticket__date-time {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .form-ticket__date-time .form-ticket__label {
    margin: 0 0 10px 0;
  }
}

.form-ticket__btn {
  margin: 50px 0 0 0;
  color: #395a71;
  font-weight: bold;
}

#date {
  margin: 0 24px 0 0;
}

@media (max-width: 991px) {
  #date {
    margin: 0 0 40px 0;
  }
}

#time {
  margin: 0;
}

.footer {
  background: url("../images/system_img/footer/bg.jpg") center/cover no-repeat;
  padding: 77px 15px 30px 15px;
  position: relative;
  z-index: 1;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

@media (max-width: 768px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .footer__column {
    margin: 0 0 70px 0;
  }
}

@media (max-width: 768px) {
  .footer__column--logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__logo {
  width: 75%;
}

.footer__logo img {
  width: 100%;
}

@media (max-width: 991px) {
  .footer__logo {
    width: 90%;
  }
}

.footer__ps {
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 30px 0 0 0;
}

.item-center:first-child {
  margin: 0 0 37px 0;
}

.item-center__text {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.item-center__img {
  width: 24px;
  height: 30px;
  margin: 10px 0 0 0;
  display: block;
}

.item-center__img img {
  max-width: 100%;
}

.links-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px 0;
}

.links-footer__item:last-child {
  margin: 0;
}

.links-footer__img {
  margin: 0 30px 0 0;
}

.links-footer__img img {
  max-width: 100%;
}

.links-footer__text {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
