.aqua {
	background: url("../images/system_img/aqua-zona/bg-aqua.jpg") center / cover no-repeat;

	&__wrapper {
		display: flex;

		@media (max-width: $xs) {
			display: block;
		}
	}

	&__left {
		@media (min-width: $sm) {
			background: url("../images/system_img/aqua-zona/bg-left.svg") center / cover no-repeat;
		}

		@media (min-width: $xs) {
			flex: 1 1 auto;
		}
		@media (max-width: $xs) {
			display: none;
		}
	}

	&__left-img {
		img {
			max-width: 100%;
		}
	}

	&__right {
		flex: 0 1 450px;

		@media (max-width: $xs) {
			width: 100%;
		}
	}
}
.right-aqua {
	position: relative;

	background: url("../images/system_img/aqua-zona/bg-right.png") 0 -121px / cover no-repeat;

	@media (max-width: 420px) {
		background: none;
	}
	&__content {
		position: relative;
		z-index: 2;
		width: 100%;
		padding: 240px 20px 144px 60px;

		@media (max-width: $xs) {
			padding: 100px 20px 144px 80px;
			text-align: center;
		}

		@media (max-width: 590px) {
			padding: 30px 20px 144px 80px;
			text-align: center;
		}

		@media (max-width: 420px) {
			padding: 30px 10px 0 10px;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 40px;
		line-height: 49px;
		letter-spacing: 0.3em;

		color: #ffffff;

		@media (max-width: 420px) {
			color: $blue;
		}
	}

	&__text {
		font-size: 20px;
		line-height: 24px;
		text-transform: lowercase;

		color: #ffffff;
		margin: 30px 0;

		@media (max-width: 420px) {
			color: $blue;
		}
	}

	&__btn {
		display: inline-block;
		background: #ffffff;
		color: $blue;

		@media (max-width: 420px) {
			background: $blue;
			color: #fff;
		}
	}

	&__items {
		margin: 90px 0 0 0;
		display: flex;
		justify-content: space-between;
		width: 100%;

		@media (max-width: 650px) {
			flex-wrap: wrap;
		}

		@media (max-width: 590px) {
			margin: 30px 0;
		}

		@media (max-width: 420px) {
			margin: 30px 0 0 0;
		}
	}

	&__item {
		flex: 0 1 100px;
		padding: 0 20px;

		@media (max-width: 650px) {
			flex: 0 1 50%;
			padding: 0 0 0 0;

			&:first-child {
				padding: 0 0 20px 0;
			}

			&:last-child {
				padding: 0 0 20px 0;
			}
		}

		@media (max-width: 420px) {
			flex: 0 1 100%;
			padding: 0 0 20px 0;

			&:first-child {
				padding: 0 0 20px 0;
			}

			&:last-child {
				padding: 0 0 20px 0;
			}
		}
	}
}

.item-aqua {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__img {
		width: 100px;
		height: 100px;
		background: #ffffff;
		border-radius: 20px;

		img {
			max-width: 100%;
		}

		@media (max-width: 420px) {
			background: $blue;
		}
	}

	&__text {
		margin: 20px 0 0 0;
		font-size: 20px;
		line-height: 24px;

		color: #ffffff;
		width: 100%;
		text-align: center;

		@media (max-width: 420px) {
			color: $blue;
		}
	}
}
