.aqua {
	background: url("../images/system_img/bg-wrap.jpg") center / cover no-repeat;
	position: relative;
	z-index: 15;

	@media (min-width: $xs) {
		padding: 43px 70px 30px 70px;
	}

	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 9;

		// @media (max-width: 600px) {
		// 	background: url("../../images/system_img/aqua-zona/bg-Vector.svg") center / cover no-repeat;
		// 	padding: 5px;
		// }

		img {
			max-width: 100%;
		}
	}

	&__bg--mobile {
		display: none;

		@media (max-width: 600px) {
			display: block;
			width: 100%;
		}
	}

	&__mobile-text {
		display: none;
		font-weight: bold;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.017em;
		margin: 10px 0 0 0;
		color: #395a71;
		padding: 0 0 20px 0;

		@media (max-width: 600px) {
			display: block;
			text-align: center;
		}
	}

	&__bg {
		@media (max-width: 600px) {
			display: none;
		}
	}

	&__first-link {
		display: none;

		@media (max-width: 600px) {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 33.3333%;
			height: 100%;
			z-index: 50;
		}
	}

	&__second-link {
		display: none;

		@media (max-width: 600px) {
			display: block;
			position: absolute;
			top: 0;
			left: 33.3333%;
			width: 33.3333%;
			height: 100%;
			z-index: 50;
		}
	}

	&__third-link {
		display: none;

		@media (max-width: 600px) {
			display: block;
			position: absolute;
			top: 0;
			left: 66.6663%;
			width: 33.3333%;
			height: 100%;
			z-index: 50;
		}
	}

	&__link-aqua {
		position: absolute;
		z-index: 55;
		display: block;
		width: 200px;
		height: 100px;
		top: 65%;
		left: 45%;

		@media (max-width: 600px) {
			display: none;
		}

		&--man {
			top: 89%;
			width: 180px;
			left: 50%;
			cursor: pointer;

			@media (max-width: 1450px) {
				width: 170px;
			}

			@media (max-width: 1250px) {
				width: 130px;
				height: 60px;
			}

			@media (max-width: 1000px) {
				width: 100px;
			}
			@media (max-width: 800px) {
				width: 80px;
				height: 40px;
			}
		}

		&--woman {
			top: 89%;
			width: 180px;
			left: 40%;
			cursor: pointer;

			@media (max-width: 2100px) {
				left: 37%;
			}

			@media (max-width: 1450px) {
				left: 35%;
				width: 150px;
			}

			@media (max-width: 1250px) {
				width: 130px;
				height: 60px;
			}

			@media (max-width: 1000px) {
				width: 100px;
			}
			@media (max-width: 800px) {
				width: 80px;
				height: 40px;
			}
		}

		&--russian-bath {
			width: 100px;
			height: 75px;
			left: 19%;
			top: 87%;

			@media (max-width: 2400px) {
				left: 15%;
			}

			@media (max-width: 2150px) {
				left: 7%;
			}

			@media (max-width: 1900px) {
				left: 4%;
			}

			@media (max-width: 1680px) {
				left: 0%;
			}

			@media (max-width: 1500px) {
				left: 0%;
			}

			@media (max-width: 1100px) {
				width: 75px;
				height: 50px;
			}

			@media (max-width: 850px) {
				width: 50px;
				height: 40px;
			}
		}

		&--salt-cave {
			width: 80px;
			height: 75px;
			left: 25%;
			top: 75%;

			@media (max-width: 2400px) {
				left: 23%;
			}

			@media (max-width: 2150px) {
				left: 20%;
			}

			@media (max-width: 2050px) {
				left: 15%;
			}

			@media (max-width: 1820px) {
				left: 13%;
			}

			@media (max-width: 1500px) {
				left: 12%;
			}

			@media (max-width: 1100px) {
				width: 65px;
				height: 50px;
			}

			@media (max-width: 850px) {
				width: 50px;
				height: 40px;
			}
		}

		&--shower-exp {
			width: 100px;
			height: 140px;
			left: 18%;
			top: 70%;

			@media (max-width: 2400px) {
				left: 16%;
			}

			@media (max-width: 2150px) {
				left: 10%;
			}

			@media (max-width: 2050px) {
				left: 5%;
			}

			@media (max-width: 1820px) {
				left: 3%;
			}

			@media (max-width: 1500px) {
				left: 1%;
				width: 80px;
				height: 100px;
			}

			@media (max-width: 1100px) {
				width: 60px;
				height: 60px;
			}

			@media (max-width: 850px) {
				width: 45px;
				height: 50px;
			}
		}

		&--baln-bath {
			width: 150px;
			height: 75px;
			left: 18%;
			top: 50%;

			@media (max-width: 2400px) {
				left: 16%;
			}

			@media (max-width: 2150px) {
				left: 10%;
			}

			@media (max-width: 2050px) {
				left: 5%;
			}

			@media (max-width: 1820px) {
				width: 120px;
				left: 1%;
			}

			@media (max-width: 1500px) {
				left: 1%;
				width: 80px;
				height: 70px;
			}

			@media (max-width: 1100px) {
				width: 60px;
				height: 50px;
			}

			@media (max-width: 850px) {
				width: 45px;
				height: 40px;
			}
		}

		&--cryo-sauna {
			width: 130px;
			height: 80px;
			left: 18%;
			top: 60%;

			@media (max-width: 2400px) {
				left: 16%;
			}

			@media (max-width: 2150px) {
				left: 10%;
			}

			@media (max-width: 2050px) {
				left: 5%;
			}

			@media (max-width: 1820px) {
				width: 120px;
				left: 1%;
			}

			@media (max-width: 1500px) {
				left: 1%;
				width: 80px;
				height: 70px;
			}

			@media (max-width: 1100px) {
				width: 60px;
				height: 50px;
			}

			@media (max-width: 850px) {
				width: 45px;
				height: 40px;
			}
		}

		&--fish-garr {
			width: 120px;
			height: 75px;
			left: 25%;
			top: 50%;

			@media (max-width: 2400px) {
				left: 23%;
			}

			@media (max-width: 2150px) {
				left: 20%;
			}

			@media (max-width: 2050px) {
				left: 15%;
			}

			@media (max-width: 1820px) {
				width: 100px;
				left: 15%;
			}

			@media (max-width: 1500px) {
				left: 14%;
				width: 60px;
				height: 70px;
			}

			@media (max-width: 1100px) {
				width: 40px;
				height: 50px;
			}

			@media (max-width: 850px) {
				width: 35px;
				height: 40px;
			}
		}

		&--spa {
			width: 200px;
			height: 140px;
			left: 18%;
			top: 32%;

			@media (max-width: 2400px) {
				left: 16%;
			}

			@media (max-width: 2150px) {
				left: 10%;
			}

			@media (max-width: 2050px) {
				left: 5%;
			}

			@media (max-width: 1820px) {
				width: 180px;
				left: 1%;
			}

			@media (max-width: 1500px) {
				left: 1%;
				width: 130px;
				height: 100px;
			}

			@media (max-width: 1100px) {
				width: 90px;
				height: 80px;
			}

			@media (max-width: 850px) {
				width: 80px;
				height: 70px;
			}
		}

		&--biomp-lamp {
			width: 110px;
			height: 60px;
			left: 28%;
			top: 33%;

			@media (max-width: 2400px) {
				left: 26%;
			}

			@media (max-width: 2150px) {
				left: 23%;
			}

			@media (max-width: 2050px) {
				left: 18%;
			}

			@media (max-width: 1820px) {
				width: 100px;
				left: 18%;
			}

			@media (max-width: 1500px) {
				left: 18%;
				width: 100px;
				height: 50px;
			}

			@media (max-width: 1100px) {
				width: 80px;
				height: 40px;
			}

			@media (max-width: 850px) {
				width: 60px;
				height: 30px;
			}
		}

		&--hamam-first {
			width: 200px;
			height: 140px;
			left: 18%;
			top: 18%;

			@media (max-width: 2400px) {
				left: 16%;
			}

			@media (max-width: 2150px) {
				left: 13%;
			}

			@media (max-width: 2050px) {
				left: 8%;
			}

			@media (max-width: 1820px) {
				width: 180px;
				left: 5%;
			}

			@media (max-width: 1500px) {
				left: 5%;
				width: 130px;
				height: 100px;
			}

			@media (max-width: 1100px) {
				width: 90px;
				height: 80px;
			}

			@media (max-width: 850px) {
				width: 80px;
				height: 50px;
			}
		}

		&--hamam-second {
			width: 90px;
			height: 140px;
			left: 18%;
			top: 1%;

			@media (max-width: 2400px) {
				left: 16%;
			}

			@media (max-width: 2150px) {
				left: 10%;
			}

			@media (max-width: 2050px) {
				left: 5%;
			}

			@media (max-width: 1820px) {
				width: 80px;
				left: 1%;
			}

			@media (max-width: 1500px) {
				left: 1%;
				width: 60px;
				height: 100px;
			}

			@media (max-width: 1100px) {
				width: 50px;
				height: 80px;
			}

			@media (max-width: 850px) {
				width: 40px;
				height: 50px;
			}
		}

		&--hamam-third {
			width: 130px;
			height: 90px;
			left: 23%;
			top: 1%;

			@media (max-width: 2400px) {
				left: 21%;
			}

			@media (max-width: 2150px) {
				left: 18%;
			}

			@media (max-width: 2050px) {
				left: 13%;
			}

			@media (max-width: 1820px) {
				width: 130px;
				left: 10%;
			}

			@media (max-width: 1500px) {
				left: 9%;
				width: 100px;
				height: 70px;
			}

			@media (max-width: 1100px) {
				width: 90px;
				height: 50px;
			}

			@media (max-width: 850px) {
				width: 80px;
				height: 50px;
			}
		}

		&--children {
			width: 160px;
			height: 120px;
			left: 32%;
			top: 1%;

			@media (max-width: 2400px) {
				left: 30%;
			}

			@media (max-width: 2150px) {
				left: 27%;
			}

			@media (max-width: 2050px) {
				left: 25%;
			}

			@media (max-width: 1820px) {
				width: 150px;
				left: 22%;
			}

			@media (max-width: 1500px) {
				left: 20%;
				width: 140px;
				height: 110px;
			}

			@media (max-width: 1100px) {
				left: 22%;
				width: 90px;
				height: 80px;
			}

			@media (max-width: 850px) {
				width: 70px;
				height: 60px;
			}
		}

		&--red-zone {
			width: 160px;
			height: 120px;
			left: 37%;
			top: 20%;

			@media (max-width: 2400px) {
				left: 35%;
			}

			@media (max-width: 2150px) {
				left: 32%;
			}

			@media (max-width: 2050px) {
				left: 30%;
			}

			@media (max-width: 1820px) {
				width: 150px;
				left: 32%;
			}

			@media (max-width: 1500px) {
				left: 31%;
				width: 110px;
				height: 90px;
			}

			@media (max-width: 1100px) {
				left: 30%;
				width: 90px;
				height: 80px;
			}

			@media (max-width: 850px) {
				width: 70px;
				height: 60px;
			}
		}

		&--herbal {
			width: 160px;
			height: 120px;
			left: 50%;
			top: 5%;

			@media (max-width: 1820px) {
				width: 150px;
				left: 50%;
			}

			@media (max-width: 1500px) {
				left: 50%;
				width: 110px;
				height: 90px;
			}

			@media (max-width: 1100px) {
				left: 50%;
				width: 90px;
				height: 80px;
			}

			@media (max-width: 850px) {
				width: 70px;
				height: 60px;
			}
		}

		&--bar {
			width: 160px;
			height: 120px;
			left: 80%;
			top: 2%;

			@media (max-width: 2400px) {
				left: 78%;
			}

			@media (max-width: 2150px) {
				left: 81%;
			}

			@media (max-width: 2050px) {
				left: 85%;
			}

			@media (max-width: 1820px) {
				width: 150px;
				left: 90%;
			}

			@media (max-width: 1500px) {
				width: 110px;
				height: 90px;
			}

			@media (max-width: 1100px) {
				width: 90px;
				height: 80px;
			}

			@media (max-width: 850px) {
				width: 70px;
				height: 60px;
			}
		}

		&--children-bas {
			width: 160px;
			height: 120px;
			left: 45%;
			top: 35%;

			@media (max-width: 1500px) {
				width: 110px;
				height: 90px;
			}

			@media (max-width: 1100px) {
				width: 90px;
				height: 80px;
			}

			@media (max-width: 850px) {
				width: 70px;
				height: 60px;
			}
		}

		&--relax-bas {
			@media (max-width: 1100px) {
				width: 90px;
				height: 80px;
			}
		}

		&--phyto-bar {
			width: 160px;
			height: 120px;
			left: 57%;
			top: 41%;

			@media (max-width: 1820px) {
				width: 180px;
				left: 59%;
			}

			@media (max-width: 1500px) {
				width: 150px;
				height: 90px;
			}

			@media (max-width: 1100px) {
				width: 120px;
				height: 60px;
			}

			@media (max-width: 850px) {
				width: 70px;
				height: 40px;
			}
		}

		&--flush {
			width: 160px;
			height: 120px;
			left: 67%;
			top: 35%;

			@media (max-width: 2400px) {
				left: 68%;
			}

			@media (max-width: 2150px) {
				left: 70%;
			}

			@media (max-width: 2050px) {
				left: 70%;
			}

			@media (max-width: 1820px) {
				width: 150px;
				left: 75%;
			}

			@media (max-width: 1500px) {
				width: 110px;
				height: 90px;
			}

			@media (max-width: 1100px) {
				width: 90px;
				height: 80px;
			}

			@media (max-width: 850px) {
				width: 70px;
				height: 60px;
			}
		}

		&--himal-sauna {
			width: 160px;
			height: 120px;
			left: 63%;
			top: 55%;

			@media (max-width: 2400px) {
				left: 63%;
			}

			@media (max-width: 2150px) {
				left: 65%;
			}

			@media (max-width: 2050px) {
				left: 65%;
			}

			@media (max-width: 1820px) {
				width: 150px;
				left: 70%;
			}

			@media (max-width: 1500px) {
				width: 110px;
				height: 90px;
			}

			@media (max-width: 1100px) {
				width: 90px;
				height: 60px;
			}

			@media (max-width: 850px) {
				width: 70px;
				height: 50px;
			}
		}

		&--ice-dome {
			width: 160px;
			height: 120px;
			left: 78%;
			top: 45%;

			@media (max-width: 2400px) {
				left: 80%;
			}

			@media (max-width: 2150px) {
				left: 82%;
			}

			@media (max-width: 2050px) {
				left: 85%;
			}

			@media (max-width: 1820px) {
				width: 150px;
				left: 90%;
			}

			@media (max-width: 1500px) {
				width: 110px;
				height: 90px;
			}

			@media (max-width: 1100px) {
				width: 90px;
				height: 60px;
			}

			@media (max-width: 850px) {
				width: 70px;
				height: 40px;
			}
		}

		&--jade-sauna {
			width: 160px;
			height: 120px;
			left: 63%;
			top: 67%;

			@media (max-width: 2400px) {
				left: 63%;
			}

			@media (max-width: 2150px) {
				left: 65%;
			}

			@media (max-width: 2050px) {
				left: 65%;
			}

			@media (max-width: 1820px) {
				width: 150px;
				left: 70%;
			}

			@media (max-width: 1500px) {
				width: 110px;
				height: 90px;
			}

			@media (max-width: 1100px) {
				width: 90px;
				height: 60px;
			}

			@media (max-width: 850px) {
				width: 70px;
				height: 50px;
			}
		}

		&--cedar {
			width: 160px;
			height: 100px;
			left: 78%;
			top: 77%;

			@media (max-width: 2400px) {
				left: 80%;
			}

			@media (max-width: 2150px) {
				left: 82%;
			}

			@media (max-width: 2050px) {
				left: 85%;
			}

			@media (max-width: 1820px) {
				width: 150px;
				left: 90%;
			}

			@media (max-width: 1500px) {
				width: 110px;
				height: 70px;
			}

			@media (max-width: 1100px) {
				width: 90px;
				height: 60px;
			}

			@media (max-width: 850px) {
				width: 70px;
				height: 30px;
			}
		}

		&--juniper {
			width: 160px;
			height: 100px;
			left: 78%;
			top: 67%;

			@media (max-width: 2400px) {
				left: 80%;
			}

			@media (max-width: 2150px) {
				left: 82%;
			}

			@media (max-width: 2050px) {
				left: 85%;
			}

			@media (max-width: 1820px) {
				width: 150px;
				left: 90%;
			}

			@media (max-width: 1500px) {
				width: 110px;
				height: 70px;
			}

			@media (max-width: 1100px) {
				width: 90px;
				height: 40px;
			}

			@media (max-width: 850px) {
				width: 70px;
				height: 30px;
			}
		}

		&--alder {
			width: 160px;
			height: 100px;
			left: 78%;
			top: 57%;

			@media (max-width: 2400px) {
				left: 80%;
			}

			@media (max-width: 2150px) {
				left: 82%;
			}

			@media (max-width: 2050px) {
				left: 85%;
			}

			@media (max-width: 1820px) {
				width: 150px;
				left: 90%;
			}

			@media (max-width: 1500px) {
				width: 110px;
				height: 70px;
			}

			@media (max-width: 1100px) {
				width: 90px;
				height: 40px;
			}

			@media (max-width: 850px) {
				width: 70px;
				height: 30px;
			}
		}

		&--russian-bath-2 {
			width: 80px;
			height: 80px;
			left: 63%;
			top: 82%;

			@media (max-width: 2400px) {
				left: 63%;
			}

			@media (max-width: 2150px) {
				left: 65%;
			}

			@media (max-width: 2050px) {
				left: 65%;
			}

			@media (max-width: 1820px) {
				width: 70px;
				left: 68%;
			}

			@media (max-width: 1500px) {
				width: 60px;
				height: 70px;
			}

			@media (max-width: 1100px) {
				width: 50px;
				height: 50px;
			}

			@media (max-width: 850px) {
				width: 40px;
				height: 40px;
			}
		}
	}

	&__leaf-f {
		position: absolute;
		top: -25%;
		right: 0;
		z-index: 10;

		max-width: 25vw;

		img {
			max-width: 100%;
		}
	}

	&__leaf-s {
		position: absolute;
		bottom: -35%;
		left: -70px;
		z-index: 10;

		max-width: 10vw;
		transform: rotate(15deg);

		@media (max-width: $md) {
			max-width: 10vw;
			bottom: -30%;
			left: -50px;
		}

		img {
			max-width: 100%;
		}
	}
}
