.aqua {
	background: url("../images/system_img/bg-wrap.jpg") center / cover no-repeat;

	@media (min-width: $xs) {
		padding: 43px 70px 30px 70px;
	}

	&__wrapper {
		display: flex;

		img {
			max-width: 100%;
		}
	}
}
