.internet {
	background: url("../images/system_img/bg-wrap.jpg") center / cover no-repeat;
	padding: 88px 15px 100px 15px;
	position: relative;

	&__leaf {
		position: absolute;
		top: -250px;
		left: 0;
		z-index: 5;
		width: 20vw;

		@media (max-width: $sm) {
			top: -150px;
			width: 25vw;
		}
		@media (max-width: 480px) {
			top: -100px;
			width: 30vw;
		}

		img {
			max-width: 100%;
		}
	}

	&__btn-back {
		position: relative;
		z-index: 6;
		display: inline-block;
		width: 40px;
		transform: translateY(10px);

		transition: 0.4s;

		&:hover {
			transform: translate(-5px, 5px) rotate(-360deg);
		}

		@media (max-width: $xs) {
			transform: none;

			&:hover {
				transform: translate(-5px, -5px) rotate(-360deg);
			}
		}
	}

	&__wrapper {
	}

	&__title {
		width: 100%;
		padding: 0 10px;
		margin: 0 0 60px 0;
		text-align: center;
	}

	&__filter {
	}
}
.filter {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__buttons {
		display: inline-flex;

		&--internet {
			width: calc(100% - 45px);
			justify-content: center;

			.filter__btn {
				&:hover {
					color: #353535;
				}
			}

			@media (max-width: $xs) {
				width: 100%;
			}
		}

		@media (max-width: $xs) {
			display: flex;
		}
	}

	&__btn {
		font-size: 20px;
		line-height: 24px;
		margin: 0 25px;

		color: #353535;
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			color: #4e9a35;
		}

		@media (max-width: 470px) {
			font-size: 16px;
			line-height: 21px;
			margin: 0 12px;
		}

		&.active-filter {
			font-weight: bold;
			&:hover {
				color: #353535;
			}

			&:after {
				content: "";
				width: 80%;
				height: 4px;
				display: block;
				background: #4e9a35;
				box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.25);
				border-radius: 8px;
				margin: 13px auto 0 auto;
			}
		}
	}

	&__items {
		margin: 50px 0 0 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item {
	}
}

.item-filter {
	width: 300px;
	margin: 0 32px 70px 32px;

	&__img {
		position: relative;

		img {
			width: 100%;
		}
	}

	&__sale {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 5;
		padding: 3px 18px 7px 10px;

		font-weight: bold;
		font-size: 25px;
		line-height: 30px;
		letter-spacing: -0.05em;

		color: #ffffff;
		background-color: #e6caa9;
	}

	&__price {
		margin: 10px 0 0 0;
		font-weight: bold;
		font-size: 25px;
		line-height: 30px;

		letter-spacing: -0.05em;

		color: #4e9a35;

		span {
			font-size: 40px;
			line-height: 49px;
		}
	}

	&__info {
		margin: 16px 0 0 0;
		font-size: 18px;
		line-height: 22px;

		color: #353535;
	}
}

.item-product {
	width: 80%;
	margin: 70px auto 0 auto;

	@media (max-width: $md) {
		width: 100%;
	}
	&__body {
		display: flex;

		@media (max-width: $xs) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__img-main {
		flex: 0 1 530px;
		padding: 0 40px 0 0;

		img {
			width: 100%;
		}

		@media (max-width: $sm) {
			flex: 0 1 40%;
		}

		@media (max-width: $xs) {
			margin: 0 0 20px 0;
			width: 80%;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
	}

	&__name {
		font-weight: bold;
		font-size: 30px;
		line-height: 37px;
		color: #353535;
	}

	&__characters {
		margin: 18px 0 0 0;
		display: flex;

		flex: 1 1 auto;
	}

	&__names-character {
		padding: 13px 8px 0 0;
		p {
			font-size: 18px;
			line-height: 22px;
			color: #353535;

			&:nth-child(2) {
				margin: 38px 0 24px 0;
			}

			&:last-child {
				margin: 10px 0 0 0;
			}
		}

		&--acessories {
			p {
				&:nth-child(2) {
					margin: 24px 0 0 0;
				}

				&:last-child {
					margin: 13px 0 0 0;
				}
			}
		}

		&--cosmetics {
			p {
				&:nth-child(2) {
					margin: 10px 0 10px 0;
				}

				&:last-child {
					margin: 0 0 0 0;
				}
			}
		}
	}

	&__body-character {
		p {
			font-size: 18px;
			line-height: 22px;
			color: #353535;
			margin: 12.5px 0 0 0;
		}
	}

	&__colors {
		overflow: auto;
		display: flex;

		margin: 0 0 15px 0;
	}

	&__color {
		display: inline-block;
		width: 45px;
		height: 45px;
		border-radius: 10px;
		margin: 0 17px 0 0;
	}

	&__sizes {
		margin: 0 0 0 0;

		overflow: auto;
		display: flex;
	}

	&__size {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 45px;
		height: 45px;
		border-radius: 10px;
		margin: 0 17px 0 0;
		background: #fcfcfc;

		font-weight: 500;
		font-size: 25px;
		line-height: 30px;
		text-transform: uppercase;
		color: #626262;
	}

	&__btn {
		display: inline-block;
		align-self: flex-start;
		color: #395a71;
		background-color: #fff;
		font-weight: bold;
		margin: 15px 0 0 0;
	}

	&__images {
		margin: 20px 0 0 0;
	}

	&__img {
		display: inline-block;
		width: 158px;
		height: 153px;
		margin: 0 15px 0 0;

		img {
			width: 100%;
			height: 100%;
		}
	}
}

.link-img {
	cursor: pointer;
}
