.services {
	position: relative;
	z-index: 11;
	background: url("../images/system_img/bg-wrap.jpg");
	&__wrapper {
		display: flex;
		overflow-x: auto;

		@media (max-width: $sm) {
			flex-direction: column;
		}
	}

	&__item {
		flex: 0 1 25%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
		padding: 0 10px;

		@media (max-width: $sm) {
			padding: 20% 10px;
		}
	}

	&__title {
		position: relative;
		z-index: 2;
		font-weight: 900;
		font-size: 50px;
		line-height: 121%;
		text-align: center;
		text-transform: uppercase;

		color: #ffffff;

		text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);

		@media (max-width: 1500px) {
			font-size: 35px;
		}

		@media (max-width: 1300px) {
			font-size: 28px;
		}
	}
}
