.services {
	position: relative;
	z-index: 11;
	background: url("../images/system_img/bg-wrap.jpg");
	&__wrapper {
		display: flex;
		overflow-x: auto;

		@media (max-width: $sm) {
			display: block;
			height: 100vh;
		}

		@media (max-height: 500px) {
			height: 240vh;
		}
	}

	&__item {
		flex: 0 1 25%;
		position: relative;
		height: calc(100vh - 70px);
		padding: 0 10px 0 10px;
		text-align: center;

		@media (max-width: $sm) {
			padding: 10vh 10px 0 10px;
			display: block;
			height: 25%;
		}

		@media (max-width: 600px) {
			padding: 7.5vh 10px 0 10px;
			display: block;
			height: 25%;
		}
	}

	&__title {
		margin: 60vh 0 0 0;
		position: relative;
		z-index: 2;
		font-weight: 900;
		font-size: 50px;
		line-height: 121%;
		text-align: center;
		text-transform: uppercase;

		color: #ffffff;

		text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);

		@media (max-width: 1500px) {
			font-size: 35px;
		}

		@media (max-width: 1300px) {
			font-size: 28px;
		}

		@media (max-width: $sm) {
			margin: 0 0 0 0;
		}
	}
}

[data-aos="new-animation-left"] {
	opacity: 0;
	transition-property: transform, opacity;

	&.aos-animate {
		opacity: 1;
	}

	@media (max-width: $sm) {
		transform: translateX(-100px);

		&.aos-animate {
			transform: translateX(0);
		}
	}
}

[data-aos="new-animation-right"] {
	opacity: 0;
	transition-property: transform, opacity;

	&.aos-animate {
		opacity: 1;
	}

	@media (max-width: $sm) {
		transform: translateX(100px);

		&.aos-animate {
			transform: translateX(0);
		}
	}
}
