.shares {
	padding: 50px 0 0 0;

	@media (min-width: 768px) {
		height: 500px;
	}

	@media (min-width: 991px) {
		height: 600px;
	}

	@media (min-width: 1199px) {
		height: 700px;
	}

	@media (min-width: 1400px) {
		height: 800px;
	}

	@media (min-width: 1700px) {
		height: 900px;
	}
	@media (min-width: 2000px) {
		height: 1000px;
	}
	@media (min-width: 2200px) {
		height: 1200px;
	}
	&__wrapper {
		position: relative;

		@media (max-width: $xs) {
			display: flex;
			flex-direction: column;
		}
	}

	&__title {
		width: 100%;
		text-align: center;
	}

	&__img-left {
		position: absolute;
		top: 0;
		left: 0;

		width: 33.33vw;

		img {
			width: 100%;
		}

		@media (max-width: $xs) {
			position: unset;
			width: 40vw;
		}
	}

	&__img-center {
		position: absolute;
		top: 100px;
		left: 50%;
		z-index: 2;
		width: 50vw;

		transform: translateX(-50%);

		img {
			width: 100%;
		}

		@media (max-width: $xs) {
			position: unset;
			transform: none;
			align-self: center;
			margin: -75px 0 0 0;
		}
	}

	&__img-right {
		position: absolute;
		top: 0;
		right: 0;

		width: 33.33vw;

		img {
			width: 100%;
		}

		@media (max-width: $xs) {
			position: unset;
			align-self: flex-end;
			margin: -75px 0 0 0;
			width: 40vw;
		}
	}
}
