.shares {
	padding: 40px 0 0 0;
	position: relative;
	z-index: 11;

	&__wrapper {
		position: relative;

		@media (max-width: $xs) {
			padding: 5px 0 0 0;
			display: flex;
			flex-direction: column;
		}
	}

	&__title {
		width: 100%;
		text-align: center;
		margin: 0 0 40px 0;
	}

	&__slider {
		transform: translateY(-57px);

		@media (max-width: $xs) {
			transform: none;
		}

		.slick-track {
			padding-bottom: 170px;

			@media (min-width: $md) {
				padding-bottom: 17vw;
			}

			@media (max-width: $xs) {
				padding: 0;
			}
		}

		.slick-center {
			transition: 1000ms;
			transform: scale(1.3) translateY(6.7vw);

			@media (max-width: $sm) {
				transform: scale(1.3) translateY(8vw);
			}

			@media (max-width: $xs) {
				transform: none;
			}
		}

		.slick-arrow {
			font-size: 0;
			display: block;
			width: 40px;
			height: 40px;
			background: url("../images/system_img/services/vector.svg") center / cover no-repeat;
			position: absolute;
			z-index: 50;
			top: 30%;
			transition: 0.4s;
		}
		/* Стрелка влево */
		.slick-arrow.slick-prev {
			left: 20px;

			@media (min-width: $xs) {
				&:hover {
					transform: translate(-5px, -5px) rotate(-360deg);
				}
			}
		}
		/* Стрелка вправо */
		.slick-arrow.slick-next {
			transform: rotate(180deg);
			right: 20px;
			@media (min-width: $xs) {
				&:hover {
					transform: translate(5px, -5px) rotate(179deg);
				}
			}
		}
	}

	&__img {
		display: block;
		padding: 0 15px;

		img {
			width: 100%;
		}
	}
}
