.week {
	padding: 10vh 0 10vh 30px;
	position: relative;
	z-index: 12;

	@media (max-width: $xs) {
		padding: 10vh 10px 5px 10px;
	}
	&__title {
		margin: 0 0 30px 0;

		@include adaptive-font(70, 35);
		position: relative;
		z-index: 11;
	}

	&__main-slider {
	}

	&__second-slider {
	}

	&__buttons-slider {
		margin: -100px 0 0 0;
		width: 70vw;
		position: relative;
		z-index: 15;

		@media (max-width: 1280px) {
			margin: 0 0 0 0;
		}

		@media (max-width: $xs) {
			display: none;
		}

		& .slick-list {
		}

		& .slick-slide.slick-current {
			& .button-second__img {
				transition: 0.3s;
				border-radius: 50%;
				overflow: hidden;
			}
		}

		.slick-arrow {
			font-size: 0;
			display: block;
			width: 40px;
			height: 40px;
			background: url("../images/system_img/arrow-week.svg") center / cover no-repeat;
			position: absolute;
			z-index: 50;
			top: 30%;
			transition: 0.4s;
		}
		/* Стрелка влево */
		.slick-arrow.slick-prev {
			left: 0;

			@media (min-width: $xs) {
				&:hover {
					transform: translate(-5px, -5px) rotate(-360deg);
				}
			}
		}
		/* Стрелка вправо */
		.slick-arrow.slick-next {
			transform: rotate(180deg);
			right: -20px;
			@media (min-width: $xs) {
				&:hover {
					transform: translate(5px, -5px) rotate(179deg);
				}
			}
		}
	}

	&__leaf-f {
		position: absolute;
		top: -27%;
		left: -15%;
		z-index: 12;

		transform: rotate(180deg);

		max-width: 25vw;

		@media (max-width: 2200px) {
			top: -22%;
		}

		@media (max-width: 1900px) {
			top: -19%;
		}

		@media (max-width: 1440px) {
			top: -18%;
			left: -15%;
		}

		@media (max-width: 1100px) {
			max-width: 30vw;
		}
		@media (max-width: $sm) {
			top: -14%;
			max-width: 35vw;
		}
		@media (max-width: $xs) {
			max-width: 40vw;
		}

		@media (max-width: 620px) {
			top: -100px;
		}

		img {
			max-width: 100%;
		}
	}

	&__leaf-s {
		position: absolute;
		bottom: -30%;
		right: -10%;
		z-index: 5;

		max-width: 35vw;

		@media (max-width: 1440px) {
			bottom: -180px;
		}

		@media (max-width: $xs) {
			max-width: 55vw;
			bottom: -80px;

			right: -15%;
		}

		img {
			max-width: 100%;
		}
	}
}

.second-slider {
	position: relative;
	z-index: 12;
	&__slide {
	}

	&__buttons {
	}

	&__button {
	}

	& .slick-track {
		padding: 90px 0 0 0;

		@media (max-width: $xs) {
			padding: 0;
		}
	}

	@media (max-width: $xs) {
		.slick-arrow {
			font-size: 0;
			display: block;
			width: 40px;
			height: 40px;
			background: url("../images/system_img/arrow-week.svg") center / cover no-repeat;
			position: absolute;
			z-index: 50;
			top: 30%;
			transition: 0.4s;
		}
		/* Стрелка влево */
		.slick-arrow.slick-prev {
			left: 0;
		}
		/* Стрелка вправо */
		.slick-arrow.slick-next {
			transform: rotate(180deg);
			right: 0px;
		}
	}
}
.slide-second {
	&__wrapper {
		display: flex;
		position: relative;
		justify-content: space-between;

		@media (max-width: $xs) {
			flex-direction: column-reverse;
			align-items: center;
		}
	}

	&__info {
		flex: 0 1 60%;
		position: relative;
		z-index: 1;

		max-height: 400px;
		overflow-y: auto;

		@media (max-width: $xs) {
			text-align: center;
			margin: 30px 0 0 0;

			max-height: none;
		}
	}

	&__title {
		font-weight: bold;
		@include adaptive-font(50, 25);
		line-height: 121%;

		color: #395a71;
		margin: 0 0 20px 0;
	}

	&__text {
		font-size: 26px;
		line-height: 32px;
		text-transform: lowercase;

		@media (max-width: 1400px) {
			font-size: 22px;
			line-height: 29px;
		}

		@media (max-width: 600px) {
			font-size: 18px;
			line-height: 22px;
		}
	}

	&__img {
		width: 40vw;
		z-index: 0;
		transform: translate(0, -70px);
		overflow: hidden;

		border-radius: 22% 48% 40% 29% / 30% 10% 20% 59%;
		img {
			width: 100%;
		}

		@media (min-width: 1700px) {
			width: 800px;
		}

		@media (max-width: $xs) {
			position: static;
			width: 90%;
			transform: none;
			border-radius: 22% 48% 40% 29% / 30% 52% 30% 59%;
		}
	}
}
.button-second {
	padding: 0 25px;
	display: block;
	text-align: center;
	cursor: pointer;

	&__img {
		width: 200px;
		height: 200px;
		overflow: hidden;
		margin: 0 auto;
		transition: 0.3s;
		display: flex;
		justify-content: center;

		img {
			width: auto;
			height: 100%;
		}
	}

	&__date {
		margin: 30px 0 9px 0;
		font-size: 30px;
		line-height: 37px;
		position: relative;
		z-index: 11;

		@media (max-width: 1400px) {
			font-size: 24px;
			line-height: 30px;
		}
	}

	&__name {
		font-size: 20px;
		line-height: 24px;
		position: relative;
		z-index: 11;

		@media (max-width: 1400px) {
			font-size: 18px;
			line-height: 22px;
		}
	}

	&._active {
		.button-second__img {
			transition: 0.3s;
			border-radius: 50%;
		}
	}
}
