.week {
	padding: 10vh 0 10vh 30px;
	position: relative;
	z-index: 1;

	@media (max-width: $xs) {
		padding: 10vh 10px;
	}
	&__title {
		margin: 0 0 30px 0;

		@include adaptive-font(70, 35);
		position: relative;
		z-index: 11;
	}

	&__main-slider {
	}

	&__second-slider {
		position: relative;
		z-index: 11;
	}

	&__buttons-slider {
		position: relative;
		z-index: 13;
		margin: -120px 0 0 0;
		width: 70vw;

		@media (max-width: 1280px) {
			margin: 0 0 0 0;
		}

		@media (max-width: $xs) {
			display: none;
		}

		& .slick-list {
		}

		& .slick-slide.slick-current {
			& .button-second__img {
				transition: 0.3s;
				border-radius: 50%;
				overflow: hidden;
			}
		}
	}

	&__leaf-f {
		position: absolute;
		top: -20%;
		left: -10%;
		z-index: 10;

		transform: rotate(180deg);

		max-width: 35vw;

		@media (max-width: 1440px) {
			top: -100px;
		}
		@media (max-width: 550px) {
			top: -80px;
			max-width: 55vw;
		}

		img {
			max-width: 100%;
		}
	}

	&__leaf-s {
		position: absolute;
		bottom: -30%;
		right: -10%;
		z-index: 5;

		max-width: 35vw;

		@media (max-width: 1440px) {
			bottom: -180px;
		}

		@media (max-width: $xs) {
			max-width: 55vw;
			bottom: -80px;

			right: -15%;
		}

		img {
			max-width: 100%;
		}
	}
}
.main-slider {
	display: flex;
	flex-direction: column-reverse;
	padding: 100px 0 0 0;

	&__slide {
	}

	.slick-dots {
		display: flex;
	}
	.slick-dots li {
		margin: 0 13px;

		&:first-child {
			margin: 0 13px 0 0;
		}
	}
	/* Активная точка */
	.slick-dots li.slick-active {
		transform: translateY(-3px);
		button {
			font-weight: bold;
			color: #395a71;

			&:before {
				height: 50px;
				background-color: #395a71;

				top: -59px;
			}
		}
	}
	/* Элемент точки */
	.slick-dots li button {
		background: none;
		font-size: 20px;
		line-height: 24px;
		color: #000000;
		position: relative;

		&:before {
			content: "";
			display: block;
			width: 5px;
			height: 30px;
			background-color: #000;
			// margin: 0 0 9px 0;
			position: absolute;
			top: -39px;
			left: 0;
		}
	}
}
.second-slider {
	position: relative;
	z-index: 12;
	&__slide {
	}

	&__buttons {
	}

	&__button {
	}

	& .slick-track {
		padding: 90px 0 0 0;

		@media (max-width: $xs) {
			padding: 0;
		}
	}
}
.slide-second {
	// padding: 80px 0 0 0;
	&__wrapper {
		display: flex;
		position: relative;
		justify-content: space-between;

		@media (max-width: $xs) {
			flex-direction: column-reverse;
			align-items: center;
		}
	}

	&__info {
		flex: 0 1 50%;
		position: relative;
		z-index: 1;

		@media (max-width: $xs) {
			text-align: center;
			margin: 30px 0 0 0;
		}
	}

	&__title {
		font-weight: bold;
		@include adaptive-font(60, 35);
		line-height: 121%;

		color: #395a71;
		margin: 0 0 20px 0;
	}

	&__text {
		font-size: 30px;
		line-height: 37px;
		text-transform: lowercase;

		@media (max-width: 600px) {
			font-size: 22px;
			line-height: 29px;
		}
	}

	&__img {
		// flex: 0 1 50%;

		// position: absolute;
		// top: -80px;
		// right: 0;
		width: 40vw;
		z-index: 0;
		transform: translate(0, -70px);

		border-radius: 22% 48% 40% 29% / 30% 10% 20% 59%;
		overflow: hidden;
		img {
			width: 100%;
		}

		@media (min-width: 1700px) {
			width: 800px;
		}

		@media (max-width: $xs) {
			position: static;
			width: 90%;
			transform: none;
			border-radius: 22% 48% 40% 29% / 30% 52% 30% 59%;
		}
	}
}
.button-second {
	padding: 0 25px;
	display: block;
	text-align: center;

	&__img {
		width: 200px;
		height: 200px;
		overflow: hidden;
		margin: 0 auto;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__date {
		margin: 30px 0 9px 0;
		font-size: 30px;
		line-height: 37px;
		position: relative;
		z-index: 11;
	}

	&__name {
		font-size: 20px;
		line-height: 24px;
		position: relative;
		z-index: 11;
	}

	&._active {
		.button-second__img {
			border-radius: 50%;
		}
	}
}
