// Обнуление
@import "reset";

// Подключение шрифтов
@import "fonts";

// Миксины

// Адаптивный шрифт
// Указать величину шрифта на минимальном экране и на макетном размере
$maxWidth: 1920;
@mixin adaptive-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

$blue: #395a71;

$lg: 1336px;
$md: 1199px;
$sm: 991px;
$xs: 768px;

// Общие стили
html {
}

body {
	font-family: "Montserrat", sans-serif;

	// &._lock {
	// 	overflow: hidden;
	// }
}

.wrapper {
	max-width: 100vw;

	overflow: hidden;
}

input[placeholder] {
	text-overflow: ellipsis;
}
input::-moz-placeholder {
	text-overflow: ellipsis;
}
input:-moz-placeholder {
	text-overflow: ellipsis;
}
input:-ms-input-placeholder {
	text-overflow: ellipsis;
}

svg {
	path {
		fill: inherit;
		stroke: inherit;
	}
	rect {
		fill: inherit;
		stroke: inherit;
	}
}

// Подключение общих блоков
@import "blocks";

.main-content {
	background: url("../images/system_img/bg-wrap.jpg") center / cover no-repeat;

	position: relative;

	&__lines-1 {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		opacity: 0.2;
	}

	&__lines-2 {
		position: absolute;
		top: 1200px;
		right: 0;
		z-index: 0;
		opacity: 0.2;
	}
}

.popup {
	position: fixed;
	display: block;
	width: 100vw;
	min-height: calc(100vh - 100px);
	top: 100px;
	left: 0;
	z-index: 50;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.6);
	opacity: 0;
	visibility: hidden;
	transition: 0.4s;

	padding: 10px;

	&__wrapper {
		width: 80%;
		margin: 0 auto;
		background: url("../images/system_img/services/bg.jpg") center / cover no-repeat;
		border-radius: 90px;

		padding: 30px;

		@media (max-width: 600px) {
			padding: 10px;
			width: 95%;
		}
	}

	&__block {
		max-height: calc(70vh - 100px);
		overflow-y: auto;
		width: 100%;

		@media (max-width: 600px) {
			max-height: calc(85vh - 100px);
		}
	}

	&__content-block {
		border-radius: 90px;
		background-color: #fff;

		padding: 70px 75px 25px 75px;
		text-align: center;

		@media (max-width: 1435px) {
			padding: 20px 25px 25px 20px;
		}

		@media (max-width: $xs) {
			padding: 40px 25px 25px 25px;
		}

		@media (max-width: 600px) {
			padding: 40px 5px 25px 5px;
		}
	}

	&__title {
		font-weight: 900;
		font-size: 40px;
		line-height: 49px;
		text-transform: uppercase;

		text-align: center;
		margin: 0 0 35px 0;

		@media (max-width: $sm) {
			margin: 0 0 15px 0;
		}

		@media (max-width: 500px) {
			font-size: 20px;
			line-height: 25px;
			margin: 0 0 15px 0;
		}
	}

	&__body {
		display: flex;
		width: 100%;
		padding: 30px;

		margin: 0 -30px 85px -30px;

		@media (max-width: 1500px) {
			margin: 0 -15px 35px -15px;
		}

		@media (max-width: $sm) {
			flex-direction: column;
		}

		@media (max-width: $xs) {
			margin: 0 0 25px 0;
			padding: 0 30px;
		}

		@media (max-width: 600px) {
			margin: 0 0 25px 0;
			padding: 0 5px;
		}
	}

	&__img {
		padding: 0 30px 0 0;
		flex: 0 1 30%;
		img {
			max-width: 100%;
			margin: 0 0 15px 0;
		}

		@media (max-width: 1500px) {
			padding: 0 15px 0 0;
		}

		@media (max-width: $sm) {
			display: flex;
			padding: 0 0 15px 0;

			img {
				display: block;
				flex: 0 1 50%;
				width: 50%;
				margin: 0 30px 0 0;
			}
		}

		@media (max-width: $xs) {
			flex-direction: column;
			div {
				text-align: center;
				width: 100%;
			}
			img {
				flex: 0 1 100%;
				width: 100%;
				margin: 0 0 30px 0;
			}
		}
	}

	&__date-info {
		margin: 5px 0 0 0;
		text-align: center;

		font-weight: 600;
		font-size: 30px;
		line-height: 37px;
		text-transform: lowercase;

		@media (max-width: $lg) {
			font-size: 22px;
			line-height: 27px;
		}

		@media (max-width: 500px) {
			font-size: 16px;
			line-height: 20px;
		}
	}

	&__info {
		flex: 0 1 70%;
		padding: 0 0 0 30px;

		@media (max-width: 1500px) {
			padding: 0 0 0 15px;
		}

		@media (max-width: $sm) {
			padding: 15px 0 0 0;
		}

		p {
			font-size: 30px;
			line-height: 37px;

			margin: 0 0 30px 0;

			@media (max-width: 1500px) {
				font-size: 22px;
				line-height: 27px;

				margin: 0 0 15px 0;
			}

			@media (max-width: 840px) {
				font-size: 16px;
				line-height: 20px;

				margin: 0 0 10px 0;
			}

			&:last-child {
				margin: 0;
			}
		}
	}

	&__btn {
		background: url("../images/system_img/services/bg.jpg") center / cover no-repeat;
		color: #fff;
		display: inline-block;
		font-size: 20px;
		line-height: 24px;
		text-transform: lowercase;
	}

	&.open {
		opacity: 1;
		visibility: visible;
	}
}

.popup-first {
	@media (max-width: $xs) {
		padding: 0;
	}
	&__wrapper {
		width: 80%;
		margin: 0 auto;
		background: url("../images/system_img/services/bg.jpg") center / cover no-repeat;
		border-radius: 90px;

		padding: 30px;

		@media (max-width: $xs) {
			width: 95%;
		}

		@media (max-width: 500px) {
			padding: 10px;
		}
	}

	&__content {
		background: url("../images/system_img/bg-wrap.jpg") center / cover no-repeat;
		border-radius: 90px;
		padding: 7vh 5vw;

		text-align: center;
	}

	&__block {
		max-height: calc(70vh - 100px);
		overflow: auto;

		@media (max-width: 600px) {
			max-height: calc(80vh - 100px);
		}
	}

	&__head {
		display: flex;
	}

	&__close {
		cursor: pointer;
	}

	&__logo {
		margin: 0 auto;

		@media (max-width: $xs) {
			width: 180px;
		}

		img {
			max-width: 100%;
		}
	}

	&__title {
		margin: 40px 0 0 0;
		font-weight: 900;
		@include adaptive-font(30, 20);
		line-height: 121%;
		text-transform: uppercase;
	}

	&__text {
		margin: 35px 0 0 0;
		@include adaptive-font(18, 14);
		line-height: 121%;
		text-align: center;
	}

	&__tagline {
		display: inline-block;
		margin: 35px 0 0 0;
		border: 3px solid #d9aa86;
		box-sizing: border-box;
		border-radius: 50px;
		padding: 15px 30px;
		font-weight: bold;
		@include adaptive-font(25, 16);
		line-height: 121%;
		text-align: center;
		color: #000000;
	}

	&__images {
		margin: 30px 0 0 0;
		display: flex;
		width: 100%;
		overflow-x: auto;
		border-radius: 25px;
		overflow-y: hidden;
	}

	&__img {
		min-width: 150px;
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			transform: scale(1.2);
		}

		img {
			max-width: 100%;
		}
	}
}

.popup-map {
	padding: 0;
	&__wrapper {
		width: 100vw;
		height: calc(100vh - 100px);
		margin: 0 auto;
		background: url("../images/system_img/bg-wrap.jpg") center / cover no-repeat;
		padding: 2px;
		display: flex;
	}

	&__content {
		max-height: calc(95vh - 100px);
		width: auto;
		margin: 0 auto;
		transform: translate(-15px, 0);
		align-self: center;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: auto;
		position: relative;
		img {
			max-height: 100%;
		}
	}

	&__link-aqua {
		@media (max-width: 600px) {
			position: absolute;
			top: 65%;
			left: 40%;
			width: 100px;
			height: 75px;
			z-index: 50;
			// background-color: rgba(0, 0, 0, 0.4);
		}

		@media (max-width: 420px) {
			left: 35%;
		}

		&--map-12 {
			width: 50px;
			height: 50px;
			top: 90%;
			left: 85%;
		}

		&--map-21 {
			width: 50px;
			height: 50px;
			top: 90%;
			left: 0;
		}

		&--map-23 {
			width: 50px;
			height: 50px;
			top: 90%;
			left: 85%;
		}

		&--map-32 {
			width: 50px;
			height: 50px;
			top: 90%;
			left: 0;
		}

		&--russian-bath {
			@media (max-width: 600px) {
				top: 85%;
				left: 0;
				width: 90px;
				height: 70px;
			}

			@media (max-width: 350px) {
				width: 80px;
			}
		}

		&--salt-cave {
			@media (max-width: 600px) {
				top: 75%;
				left: 26%;
				width: 75px;
				height: 55px;
			}

			@media (max-width: 350px) {
				width: 70px;
			}
		}

		&--shower-exp {
			@media (max-width: 600px) {
				top: 70%;
				left: 0;
				width: 75px;
				height: 85px;
			}

			@media (max-width: 350px) {
				width: 70px;
			}
		}

		&--baln-bath {
			@media (max-width: 600px) {
				top: 48%;
				left: 0;
				width: 85px;
				height: 50px;
			}

			@media (max-width: 350px) {
				width: 70px;
			}
		}

		&--cryo-sauna {
			@media (max-width: 600px) {
				top: 60%;
				left: 0;
				width: 85px;
				height: 50px;
			}

			@media (max-width: 350px) {
				width: 70px;
			}
		}

		&--fish-garr {
			@media (max-width: 600px) {
				top: 48%;
				left: 31%;
				width: 75px;
				height: 50px;
			}

			@media (max-width: 350px) {
				width: 70px;
			}
		}

		&--spa {
			@media (max-width: 600px) {
				top: 33%;
				left: 0;
				width: 150px;
				height: 80px;
			}

			@media (max-width: 350px) {
				width: 130px;
			}
		}

		&--biomp-lamp {
			@media (max-width: 600px) {
				top: 33%;
				left: 50%;
				width: 70px;
				height: 40px;
			}

			@media (max-width: 350px) {
				width: 60px;
			}
		}

		&--hamam-first {
			@media (max-width: 600px) {
				top: 18%;
				left: 0;
				width: 150px;
				height: 80px;
			}

			@media (max-width: 350px) {
				width: 130px;
			}
		}

		&--hamam-second {
			@media (max-width: 600px) {
				top: 1%;
				left: 0;
				width: 70px;
				height: 80px;
			}

			@media (max-width: 350px) {
				width: 60px;
			}
		}

		&--hamam-third {
			@media (max-width: 600px) {
				top: 1%;
				left: 22%;
				width: 90px;
				height: 50px;
			}

			@media (max-width: 350px) {
				width: 80px;
			}
		}

		&--children {
			@media (max-width: 600px) {
				top: 1%;
				left: 72%;
				width: 90px;
				height: 80px;
			}

			@media (max-width: 350px) {
				width: 80px;
			}
		}

		&--red-zone {
			@media (max-width: 600px) {
				top: 20%;
				left: 0;
				width: 90px;
				height: 80px;
			}

			@media (max-width: 350px) {
				width: 80px;
			}
		}

		&--red-zone-1 {
			@media (max-width: 600px) {
				top: 20%;
				left: 85%;
				width: 50px;
				height: 80px;
			}

			@media (max-width: 350px) {
				width: 40px;
			}
		}
	}
}

.popup-aqua {
	&__wrapper {
		background: url("../images/system_img/services/bg.jpg") center / cover no-repeat;
		width: 85%;
		margin: 0 auto;
		padding: 50px 60px;
		border-radius: 90px;

		@media (max-width: 550px) {
			width: 95%;
			padding: 50px 15px;
		}
	}

	&__content {
		max-height: calc(70vh - 100px);
		overflow: auto;
		text-align: center;
		position: relative;

		@media (max-width: 600px) {
			max-height: calc(85vh - 100px);
		}
	}

	&__close {
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
	}

	&__title {
		font-weight: bold;
		@include adaptive-font(40, 18);
		line-height: 121%;
		letter-spacing: 0.8em;
		text-transform: uppercase;

		color: #ffffff;

		@media (max-width: $xs) {
			letter-spacing: 0.1em;
			margin: 5vh 0 0 0;
		}
	}

	&__text {
		margin: 5vh 0 0 0;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		text-transform: lowercase;

		color: #ffffff;

		@media (max-width: $xs) {
			margin: 2vh 0 0 0;
			font-size: 14px;
			line-height: 18px;
		}

		a {
			font-weight: bold;
			color: #fff;
		}
	}

	&__btn {
		background: #ffffff;
		color: #395a71;
		margin: 24px 0 50px 0;
		display: inline-block;

		@media (max-width: $xs) {
			font-size: 14px;
			line-height: 18px;

			margin: 24px 0;
		}
	}

	&__items {
		width: 100%;
		overflow-x: auto;
		white-space: nowrap;
	}

	&__item {
		width: 100px;
		text-align: center;
		margin: 0 20px;
		display: inline-block;

		&:first-child {
			margin: 0 20px 0 0;
		}

		&:last-child {
			margin: 0 0 0 20px;
		}

		@media (max-width: $xs) {
			width: 50px;
			margin: 0 5px;

			&:first-child {
				margin: 0 5px 0 0;
			}

			&:last-child {
				margin: 0 0 0 5px;
			}
		}
	}

	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100px;
		background: #ffffff;
		border-radius: 20px;

		@media (max-width: $xs) {
			height: 50px;
		}

		img {
			max-width: 50%;
		}
	}

	&__label {
		margin: 20px 0 0 0;
		font-size: 20px;
		line-height: 24px;

		color: #ffffff;
	}
}

// Header
@import "header";

@import "full";
@import "aqua";
@import "services";
@import "week";
@import "shares";
@import "store";
@import "news";

@import "tickets";

@import "internet";

// Footer
@import "footer";
